/*L-desktop*/

@media (min-device-width:  1600px)
{
    
}

/*L-laptops*/
@media(max-width: 1440px)
{

    

    
}

/*laptops/tablets*/
@media(max-width: 1024px)
{
    .tab-100
    {
        width: 100%;
    }
    .tab-50
    {
        width: 50%;
    }
    .tab-33
    {
        width: 33.333333%;
        margin-bottom: 15px;
    }
    .wrapper
    {
        width: 80%;
    }

    


    




    .thankyou-page article p
    {
        width: 80%;
    }
    .social-media
    {
        width: 65%;
    }
    .thankyou-page article h1
    {
        font-size: 60px;
    }
    .thankyou-page article h1 span
    {
        font-size: 65px;
    }
    .thankyou-page article span
    {
        font-size: 18px;
    }
    .step-bar-inner
    {
        width: 50%;
    }
}


/*tablets*/
@media(max-width: 768px)
{
    .tab-sm-100
    {
        width: 100%;
    }
    .tab-sm-50
    {
        width: 50%;
    }
    .wrapper
    {
        width: 100%;
    }
    .steps
    {
        padding: 50px;
    }





    .social-media
    {
        width: 85%;
    }
}


/*Smart phone*/
@media(max-width: 576px)
{
    .mob-100
    {
        width: 100%;
    }
    .mob-50
    {
        width: 50%;
    }
    .wrapper
    {
        width: 100%;
        margin-top: 50px;
    }
    .steps
    {
        padding: 20px;
        border-radius: 0;
    }
    main
    {
        padding: 0;
    }
    header, footer
    {
        padding: 15px 20px;
    }
    .right-map
    {
        top: 15px;
        right: 15px;
    }
    article .main-heading
    {
        font-size: 20px;
    }
    article .main-text
    {
        font-size: 12px;
    }
    .radio-field
    {
        height: 235px;
    }
    .next-prev button
    {
        width: 100%;
        margin-bottom: 20px;
    }
    #customForm #remove
    {
        right: 0;
        top: -40px;
    }
    .bar-end
    {
        width: 100%;
    }
    .bar-end h3
    {
        text-align: center;
        margin-top: 20px;
    }
    .bar-end h3 span
    {
        display: block;
    }

    .links
    {
        text-align: center;
    }

    .progress-counter
    {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
    }

    




    
    .thankyou-page article h1
    {
        font-size: 30px;
    }
    .thankyou-page article h1 span
    {
        font-size: 35px;
    }
    .thankyou-page article span
    {
        font-size: 15px;
    }
    .thankyou-page article p
    {
        font-size: 15px;
        width: 90%;
    }
    .thankyou-page .logo-text
    {
        font-size: 60px;
    }
    .social-media
    {
        width: 100%;
    }


    
}


