.fadedown
{
    animation: fadedown 0.5s linear forwards;

}
@keyframes fadedown
{
    0%
    {
        transform: translateY(-100%) scale(0.5);
    }
    80%
    {
        transform: translateY(0) scale(0.5);
    }

    100%
    {
        transform: translateY(0) scale(1);
    }
}
.fadeup
{
    animation: fadeup 0.5s linear forwards;

}
@keyframes fadeup
{
    100%
    {
        transform: translateY(-100%) scale(0.5);
    }
    80%
    {
        transform: translateY(0) scale(0.5);
    }

    0%
    {
        transform: translateY(0) scale(1);
    }
}

.title
{
    animation: gradiant 3s linear infinite;
}
@keyframes gradiant
{
    0%
    {
        background-position: 200% center;

    }
    100%
    {
        background-position: 200% auto;
    }
}