<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!-- Bootstrap-5 -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- custom-styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/animation.css">

</head>
<body>
    <section class="container">
        <div class="popup fadedown">
            <div class="row">
                <div class="col-md-6 tab-none order-c">
                    <div class="side_img">
                        <img  src="assets/images/side.jpg" alt="side_image">
                    </div>
                </div>
                <div class="col-md-6 tab-100">
                    <div class="popup-inner">
                        <h1 class="title">Want to Get More?</h1>
                        <p class="pop-text">
                            Sign up to receive our news Letter, stay up to date on our new Product, and join our Private sales
                        </p>
                        <form class="subscribe">
                            <input type="text" placeholder="Subcribe Email">
                            <button>Submit</button>
                        </form>

                        <div class="icons">
                            <a href=""><img src="assets/images/icons/injpg.png" alt="in"></a>
                            <a href=""><img src="assets/images/icons/fb.png" alt="fb"></a>
                            <a href=""><img src="assets/images/icons/twitter.png" alt="twitter"></a>
                        </div>
                    </div>
                </div>
            </div>

            

            <div class="cancel">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
    </section>



    <!-- Bootstrap-5 -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Jquery -->
    <script src="assets/js/jquery-3.6.1.min.js"></script>

    <!-- My js -->
    <script src="assets/js/custom.js"></script>

</body>
</html>