.reveal
{
    animation: reveal 0.5s linear forwards;
}

@keyframes reveal {
    from
    {
        opacity: 0;
        transform: translateY(-20px);
    }
    to
    {
        opacity: 1;
        transform: translateY(0);
    }
}
.fade-up
{
    animation: fade-up 0.5s linear forwards;
    animation-delay: 500ms;
    transform: translateY(100%);
}

@keyframes fade-up {
    from 
    {
        transform: translateY(100%);
    }
    to
    {
        transform: translateY(0);
    }
}