/*L-desktop*/

@media (min-device-width:  1600px)
{
    
}

/*L-laptops*/
@media(max-width: 1440px)
{

    .social-icon-single
    {
        width: 25%;
    }
}

/*laptops/tablets*/
@media (max-width: 1024px)
{

    .social-icon-single
    {
        width: 25%;
    }
    .title-coming
    {
        font-size: 100px;
    }

    #countdown, #countdown2
    {
        font-size: 90px;
    }
    
}


/*tablets*/
@media(max-width: 768px)
{

    .title-coming
    {
        font-size: 80px;
    }

    #countdown, #countdown2
    {
        font-size: 70px;
    }
    .tab-100
    {
        width: 100%;
    }
    .tab-none
    {
        display: none;
    }
   
    .social
    {
        width: 100%;
        margin-left: 0;
    }
    

}


/*Smart phone*/
@media (max-width: 576px)
{
    .social-icons
    {
        position: relative;
    }
    .social-icon-single
    {
        width: 100%;
    }
    .title-coming
    {
        font-size: 40px;
        justify-content: center;
        text-align: center;
        margin-left: 0;
    }
    .coming-soon
    {
        width: 100%;
    }

    #countdown, #countdown2
    {
        font-size: 30px;
    }
    .coming-soon-inner
    {
        padding: 20px;
    }
    .title-coming::after
    {
        width: 100%;
        margin: 0;
        bottom: 0;
        height: 4px;
    }
    #countdown2
    {
        top: 1px;
        left: 1px;
    }

    
}


