@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

  
body
{
    background-image: url(../images/bg.jpg);
    min-height: auto;
    background-size: cover;
    width: 100%;
    font-family: "Montserrat";
}
main
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.coming-soon
{
    flex: 1;
    display: grid;
    align-items: center;
    padding: 50px;
    padding-left: 0;
    width: 70%;
}
.coming-soon-inner
{
    position: relative;
    padding: 50px 70px;
    padding-bottom: 100px;
}
.coming-soon-inner *
{
    position: relative;
    z-index: 100;
}
.coming-soon-inner::after
{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 44px;
    background-color: rgba(0, 103, 203, 0.451);
    position: absolute;
    top: -12px;
    left: 0;
    z-index: 0;
      
}
.coming-soon-inner::before
{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 44px;
    background-color: rgba(0, 103, 203, 0.471);
    position: absolute;
    top: 0px;
    left: 12px;
    z-index: 0;
  }
  
.title-coming
{
    font-size: 139px;
    font-family: "Comfortaa";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: end;
    position: relative;
    width: max-content;
    margin-left: auto;
}

.title-coming::after
{
    content: "";
    background-color: rgb(0, 255, 179);
    width: 95%;
    height: 8px;
    position: absolute;
    bottom: 35px;
    margin-left: auto;
    left: 0;
    right: 0;
    border-radius: 35%;
    z-index: -1;
    margin-right: 15px;
}
  
#countdown, #countdown2
{
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    
}
#countdown,  #countdown2
{
    font-size: 150px;
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
}
#countdown2
{
    color: rgb(218, 218, 218);
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 0;
}

#countdown span,  #countdown2 span
{
    padding: 15px;
}



a
{
    text-decoration: none;
}


.social-icons
{
    position: relative;
    bottom: 0;
    width: 100%;
}
.social-icon-single
{
    width: 12.5%;
    height: 100px;
    background-color: rgb(33, 33, 33);
    cursor: pointer;
    overflow: hidden;
}
.icon-single-inner
{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    align-items: center;


}
.icon-single-inner .social-text
{
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
.icon-single-inner .icon
{
    font-size: 75px;
    color: rgba(255, 255, 255, 0.1);
    transition: 0.5s all;
}
.icon-single-inner:hover  .icon
{
    transform: rotate(360deg) scale(2);
}
    
.social-icon-single.facebook
{
    background-color: rgb(57, 87, 155);
}
.social-icon-single.twitter
{
    background-color: rgb(80, 171, 242);
}
  
.social-icon-single.pinterest
{
    background-color: rgb(255, 64, 0);
      
}
.social-icon-single.instagram
{
    background-color: rgb(0, 122, 184);
      
}
.social-icon-single.dribble
{
    background-color: rgb(236, 73, 137);
}
.social-icon-single.devianart
{
    background-color: rgb(140, 180, 45);
}
.social-icon-single.google
{
    background-color: rgb(228, 44, 38);
      
}
.social-icon-single.behance
{
    background-color: rgb(2, 185, 215);
      
}