<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!-- Bootstrap-5 -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- custom-styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/animation.css">

</head>
<body>
    <section class="container">
        <div class="popup fadedown">
            <div class="popup-img">
                <h1 class="title">Sale 30%</h1>
                <p class="tag">Limited - Time Offers</p>
            </div>
            <form class="form">
                <h3 class="signup-text">
                    Sign up to receive our news Letter, stay up to date on 
                    our new Product, and join our Private sales
                </h3>
                <fieldset class="subscribe">
                    <input type="text" name="email" placeholder="Enter your Email address">
                    <button>subscribe</button>
                </fieldset>
                <fieldset class="check">
                    <input type="checkbox">
                    <label>Don't Show this Popup again</label>
                </fieldset>
            </form>

            <div class="cancel">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
    </section>



    <!-- Bootstrap-5 -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Jquery -->
    <script src="assets/js/jquery-3.6.1.min.js"></script>

    <!-- My js -->
    <script src="assets/js/custom.js"></script>

</body>
</html>