// main jquery
script(src="../assets/js/jquery-3.7.0.min.js")
   
// Feather iocns js
script(src="../assets/js/icons/feather-icon/feather.js")

// Bootstrap js
script(src="../assets/js/bootstrap.bundle.min.js")
script(src="../assets/js/vendors/notify/bootstrap-notify.js")
script(src="../assets/js/vendors/notify/bootstrap-customnotify.js")

// customizer
script(src="../assets/js/customizer.js")

// Scrollbar
script(src="../assets/js/vendors/simplebar.js")
   
//- Plugin js
if apexchart
   // apex chart
   script(src="../assets/js/vendors/chart/apexcharts.js")

if echart
   // echart chart
   script(src="../assets/js/vendors/chart/echarts.min.js")  
   script(src="../assets/js/vendors/chart/custom-echart.js")

if morrischart  
   // morris chart
   script(src="../assets/js/vendors/chart/raphael-min.js")
   script(src="../assets/js/vendors/chart/morris.min.js")
   script(src="../assets/js/vendors/chart/custom-morris.js")

if chartjs
   // chart chart
   script(src="../assets/js/vendors/chart/chart.min.js")
   script(src="../assets/js/vendors/chart/custom-chartjs.js")

if sparklinechart
   // sparkline chart
   script(src="../assets/js/vendors/chart/jquery.sparkline.min.js")
      
if customsparklinechart
   // custom sparkline chart
   script(src="../assets/js/vendors/chart/custom-sparkline.js")

if customapexchart
   //custom apex chart
   script(src="../assets/js/vendors/chart/custom-apexchart.js")
   
if slickslider
   // slick slider
   script(src="../assets/js/vendors/slider/slick-sldier/slick.min.js")

if slickcustom
   script(src="../assets/js/vendors/slider/slick-sldier/slick-custom.js")

if hospitaldashboard
   // hospital dashboard js
   script(src="../assets/js/dashboard/hospital-dashboard.js")

if doctordashboard
   // doctor dashboard
   script(src="../assets/js/dashboard/doctor-dashboard.js")     

if patientdashboard
   // patient dashboard js
   script(src="../assets/js/dashboard/patient-dashboard.js")

if ionRangeslider
   // ion range slider
   script(src="../assets/js/vendors/range-slider/ion-rangeslider.js")
   script(src="../assets/js/vendors/range-slider/custom-rangeslider.js")

if calendar
   // calendar
   script(src="../assets/js/vendors/calendar/calendar.js")  
   script(src="../assets/js/vendors/calendar/custom-calendar.js")

if ckeditor
   // ckeditor  
   script(src="../assets/js/vendors/ckeditor/ckeditor.js")  

if select2
   // select 2 js
   script(src="../assets/js/vendors/select2/select2.min.js")
   script(src="../assets/js/vendors/select2/custom-select2.js")  

if sweetalert2
   // sweetalert js
   script(src="../assets/js/vendors/sweetalert/sweetalert2.js")
   script(src="../assets/js/vendors/sweetalert/custom-sweetalert2.js")

if lightbox
   // light box
   script(src='../assets/js/vendors/light-box/fancybox.umd.js')

if datepicker
   // datepicker
   script(src="../assets/js/vendors/datepicker/datepicker.js")
   script(src="../assets/js/vendors/datepicker/datepicker.en.js")
   script(src="../assets/js/vendors/datepicker/custom-datepicker.js")

if dropzone
   // Dropzone
   script(src='../assets/js/vendors/dropzone/dropzone.js' )
   script(src='../assets/js/vendors/dropzone/dropzone-custom.js' )

if datatable
   // Datatable  
   script(src='../assets/js/vendors/datatable/jquery.dataTables.min.js')  
   script(src='../assets/js/vendors/datatable/dataTables.buttons.min.js')
   script(src="../assets/js/vendors/datatable/buttons.print.min.js")  
   script(src='../assets/js/vendors/datatable/buttons.html5.min.js')  
   script(src='../assets/js/vendors/datatable/pdfmake.min.js')
   script(src='../assets/js/vendors/datatable/vfs_fonts.js') 
   script(src='../assets/js/vendors/datatable/jszip.min.js')
   script(src='../assets/js/vendors/datatable/custom-datatable.js') 

// Custom script
script(src="../assets/js/custom-script.js")