-var datepicker = true ;
-var select2 = true;
doctype html
html(lang="en")
  
  include ../components/headerfile

  

  body
    
    +header

    .themebody-wrap
     
      
      // theme body start
      .theme-body(data-simplebar).common-dash
        .container-fluid
          .row
            .col-md-12
              .card
                .card-header
                  h4 Patient Information
                .card-body 
                  form
                    .row
                      .form-group.col-md-4
                        .form-label Profile Image
                        input(class="form-control" type="file")
                      .form-group.col-md-4
                        .form-label First Name
                        input(class="form-control" type="text" placeholder="First Name")
                      .form-group.col-md-4
                        .form-label last name
                        input(class="form-control" type="text" placeholder="Last Name")
                      .form-group.col-md-4
                        .form-label Date of Birth
                        input(class="datepicker-here form-control" type="text" value="" data-date-format="dd/mm/yyyy" data-language="en")
                      .form-group.col-md-4
                        .form-label Age
                        input(class="form-control" type="text" placeholder="Enter Patient Age")
                      .form-group.col-md-4
                        .form-label Gender
                        select.form-select
                          option(value="Gender") Select Gender
                          option(value="Male") Male
                          option(value="Female") Female
                      .form-group.col-md-4
                        .form-label Blood Group
                        select.form-select.hidesearch(name="bloodgroup[]")
                          option(value="") Select Blood Group
                          option(value="A+") A+
                          option(value="A-") A-
                          option(value="B+") B+
                          option(value="B-") B-
                          option(value="O+") O+
                          option(value="O-") O-
                          option(value="AB+") AB+
                          option(value="AB-") AB-
                      .form-group.col-md-4
                        .form-label Marital status
                        select.form-select.hidesearch(name="Maritalstatus[]")
                          option(value="Maritalstatus") Select Marital status
                          option(value="Married") Married
                          option(value="Unmarried") Unmarried
                      .form-group.col-md-4
                        .form-label Patient Weight
                        input(class="form-control" type="text" value="68 kg")
                      .form-group.col-md-4
                        .form-label Patient Height
                        input(class="form-control" type="text" value="5.2")
                      .form-group.col-md-4
                        .form-label Email
                        input(class="form-control" type="text" placeholder="")
                      .form-group.col-md-4
                        .form-label Phone
                        input(class="form-control" type="text" placeholder="")
                      .form-group.col-md-4
                        .form-label City
                        select.form-select.hidesearch(name="bloodgroup[]")
                          option(value="") Select City
                          option(value="Tokyo") Tokyo
                          option(value="Dubai") Dubai
                          option(value="Barcelona" selected) Barcelona
                          option(value="Rome") Rome
                          option(value="Singapore") Singapore
                          option(value="Amsterdam") Amsterdam
                          option(value="NewYork") New York
                      .form-group.col-md-4
                        .form-label State
                        select.form-select.hidesearch(name="State[]")
                          option(value="") Select State
                          option(value="Washington") Washington
                          option(value="Minnesota") Minnesota
                          option(value="Utah") Utah
                          option(value="Idaho") Idaho
                      .form-group.col-md-4
                        .form-label Country
                        select.form-select.hidesearch(name="Country[]")
                          option(value="") Select Country
                          option(value="japan") japan
                          option(value="india") india
                          option(value="uk") uk
                          option(value="itly") itly
                          option(value="usa") usa
                      .form-group.col-md-4
                        .form-label Postal/zip Code
                        input(class="form-control" type="text" placeholder="Enter Postal/zip Code")
                      .form-group.col-md-4
                        .form-label Status
                        select.form-select.hidesearch(name="patientStatus[]")
                          option(value="") Select Status
                          option(value="active") Active
                          option(value="Inctive") Inctive
                      .form-group.col-md-6
                        .form-label Address
                        textarea.form-control(placeholder="Enter Patient Address")
                      .form-group.col-md-6
                        .form-label Patient History
                        textarea.form-control(placeholder="Patient History")
                      .form-group.text-end.mb-0
                        a.btn.btn-sm.btn-primary(href="javascript:void(0);") Submit
                        a.btn.btn-sm.btn-danger.ml-8(href="javascript:void(0);") Cancle
      // theme body end
    
    // footer start
    +footer
    // footer end

    +footerfile