doctype html
html(lang="en")

  include ../components/headerfile
  
  body
    +header
    .themebody-wrap
      // breadcrumb start
      +codexbreadcrumb('Table','Basic table')
      // breadcrumb end

      // theme body start
      .theme-body        
        .container-fluid       
          .row
            .col-md-12
              .card   
                .card-header
                  h4 basic table
                .card-body      
                  .table-responsive
                    table.table
                        thead
                          tr
                            th Name
                            th Position
                            th Office
                            th Age
                            th Start date
                            th Salary
                        tbody
                          tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                            td $320,800
                          tr
                            td Garrett Winters
                            td Accountant
                            td Tokyo
                            td 63
                            td 2011/07/25
                            td $170,750
                          tr
                            td Ashton Cox
                            td Junior Technical Author
                            td San Francisco
                            td 66
                            td 2009/01/12
                            td $86,000
                          tr
                            td Cedric Kelly
                            td Senior Javascript Developer
                            td Edinburgh
                            td 22
                            td 2012/03/29
                            td $433,060
                          tr
                            td Airi Satou
                            td Accountant
                            td Tokyo
                            td 33
                            td 2008/11/28
                            td $162,700
                          tr
                            td Brielle Williamson
                            td Integration Specialist
                            td New York
                            td 61
                            td 2012/12/02
                            td $372,000
            .col-md-12
              .card   
                .card-header
                  h4 Striped rows
                .card-body    
                  .table-responsive  
                    table.table.table-striped
                        thead
                          tr
                            th Name
                            th Position
                            th Office
                            th Age
                            th Start date
                            th Salary
                        tbody
                          tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                            td $320,800
                          tr
                            td Garrett Winters
                            td Accountant
                            td Tokyo
                            td 63
                            td 2011/07/25
                            td $170,750
                          tr
                            td Ashton Cox
                            td Junior Technical Author
                            td San Francisco
                            td 66
                            td 2009/01/12
                            td $86,000
                          tr
                            td Cedric Kelly
                            td Senior Javascript Developer
                            td Edinburgh
                            td 22
                            td 2012/03/29
                            td $433,060
                          tr
                            td Airi Satou
                            td Accountant
                            td Tokyo
                            td 33
                            td 2008/11/28
                            td $162,700
                          tr
                            td Brielle Williamson
                            td Integration Specialist
                            td New York
                            td 61
                            td 2012/12/02
                            td $372,000
            .col-md-12
              .card   
                .card-header
                  h4 Hoverable rows
                .card-body  
                  .table-responsive    
                    table.table.table-hover
                        thead
                          tr
                            th Name
                            th Position
                            th Office
                            th Age
                            th Start date
                            th Salary
                        tbody
                          tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                            td $320,800
                          tr
                            td Garrett Winters
                            td Accountant
                            td Tokyo
                            td 63
                            td 2011/07/25
                            td $170,750
                          tr
                            td Ashton Cox
                            td Junior Technical Author
                            td San Francisco
                            td 66
                            td 2009/01/12
                            td $86,000
                          tr
                            td Cedric Kelly
                            td Senior Javascript Developer
                            td Edinburgh
                            td 22
                            td 2012/03/29
                            td $433,060
                          tr
                            td Airi Satou
                            td Accountant
                            td Tokyo
                            td 33
                            td 2008/11/28
                            td $162,700
                          tr
                            td Brielle Williamson
                            td Integration Specialist
                            td New York
                            td 61
                            td 2012/12/02
                            td $372,000
            .col-md-12
              .card   
                .card-header
                  h4 table bordered
                .card-body   
                  .table-responsive   
                    table.table.table-bordered
                        thead
                          tr
                            th Name
                            th Position
                            th Office
                            th Age
                            th Start date
                            th Salary
                        tbody
                          tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                            td $320,800
                          tr
                            td Garrett Winters
                            td Accountant
                            td Tokyo
                            td 63
                            td 2011/07/25
                            td $170,750
                          tr
                            td Ashton Cox
                            td Junior Technical Author
                            td San Francisco
                            td 66
                            td 2009/01/12
                            td $86,000
                          tr
                            td Cedric Kelly
                            td Senior Javascript Developer
                            td Edinburgh
                            td 22
                            td 2012/03/29
                            td $433,060
                          tr
                            td Airi Satou
                            td Accountant
                            td Tokyo
                            td 33
                            td 2008/11/28
                            td $162,700
                          tr
                            td Brielle Williamson
                            td Integration Specialist
                            td New York
                            td 61
                            td 2012/12/02
                            td $372,000
            .col-md-12
              .card   
                .card-header
                  h4 table borderless
                .card-body     
                  .table-responsive
                    table.table.table-borderless
                        thead
                          tr
                            th Name
                            th Position
                            th Office
                            th Age
                            th Start date
                            th Salary
                        tbody
                          tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                            td $320,800
                          tr
                            td Garrett Winters
                            td Accountant
                            td Tokyo
                            td 63
                            td 2011/07/25
                            td $170,750
                          tr
                            td Ashton Cox
                            td Junior Technical Author
                            td San Francisco
                            td 66
                            td 2009/01/12
                            td $86,000
                          tr
                            td Cedric Kelly
                            td Senior Javascript Developer
                            td Edinburgh
                            td 22
                            td 2012/03/29
                            td $433,060
                          tr
                            td Airi Satou
                            td Accountant
                            td Tokyo
                            td 33
                            td 2008/11/28
                            td $162,700
                          tr
                            td Brielle Williamson
                            td Integration Specialist
                            td New York
                            td 61
                            td 2012/12/02
                            td $372,000
            .col-md-12
              .card   
                .card-header
                  h4 table responsive
                .card-body      
                  .table-responsive
                    table.table.table-bordered
                        thead
                          tr
                            th Name
                            th Position
                            th Office
                            th Age
                            th Start date
                            th Salary
                        tbody
                          tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                            td $320,800
                          tr
                            td Garrett Winters
                            td Accountant
                            td Tokyo
                            td 63
                            td 2011/07/25
                            td $170,750
                          tr
                            td Ashton Cox
                            td Junior Technical Author
                            td San Francisco
                            td 66
                            td 2009/01/12
                            td $86,000
                          tr
                            td Cedric Kelly
                            td Senior Javascript Developer
                            td Edinburgh
                            td 22
                            td 2012/03/29
                            td $433,060
                          tr
                            td Airi Satou
                            td Accountant
                            td Tokyo
                            td 33
                            td 2008/11/28
                            td $162,700
                          tr
                            td Brielle Williamson
                            td Integration Specialist
                            td New York
                            td 61
                            td 2012/12/02
                            td $372,000
      // theme body end



    // footer start
    +footer
    // footer end
    +footerfile         
    
