doctype html
html(lang="en")
  include ../components/headerfile
  body

    +header    

    .themebody-wrap

      // breadcrumb start
      +codexbreadcrumb('Feather Icons','icons')
      // breadcrumb end

      // theme body start
      .theme-body
        .container-fluid.profile-page
          .row
            .col-12
              .card
                .card-body
                  .row.cdx-row
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-in
                        | India Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ad
                        | Andorra Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ae
                        | United Arab Emirates Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-af
                        | Afghanistan Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ag
                        | Antigua and Barbuda Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ai
                        | Anguilla Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-al
                        | Albania Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-am
                        | Armenia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ao
                        | Angola Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ar
                        | Argentina Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-as
                        | American Samoa Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-at
                        | Austria Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-au
                        | Australia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-aw
                        | Aruba Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ax
                        | Aland Islands Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-az
                        | Azerbaijan Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ba
                        | Bosnia and Herzegovina Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-bb
                        | Barbados Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-bd
                        | Bangladesh Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-be
                        | Belgium Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-bf
                        | Burkina Faso Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-bg
                        | Bulgaria Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-bh
                        | Bahrain Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-bi
                        | Burundi Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-bj
                        | Benin Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-bl
                        | Saint Barth&eacute;lemy Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-bm
                        | Bermuda Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-bn
                        | Brunei Darussalam Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-bo
                        | Bolivia (Plurinational State of) Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-bq
                        | Bonaire, Sint Eustatius and Saba Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-br
                        | Brazil Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-bs
                        | Bahamas Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-bt
                        | Bhutan Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-bw
                        | Botswana Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-by
                        | Belarus Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-bz
                        | Belize Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ca
                        | Canada Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-cc
                        | Cocos (Keeling) Islands Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-cd
                        | Democratic Republic of the Congo Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-cf
                        | Central African Republic Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-cg
                        | Republic of the Congo Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ch
                        | Switzerland Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ci
                        | C&ocirc;te d&apos;Ivoire Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ck
                        | Cook Islands Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-cl
                        | Chile Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-cm
                        | Cameroon Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-cn
                        | China Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-co
                        | Colombia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-cr
                        | Costa Rica Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-cu
                        | Rozo Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-cv
                        | Cabo Verde Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-cw
                        | Cura&ccedil;ao Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-cx
                        | Christmas Island Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-cy
                        | Cyprus Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-cz
                        | Czech Republic Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-de
                        | Germany Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-dj
                        | Djibouti Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-dk
                        | Denmark Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-dm
                        | Dominica Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-do
                        | Dominican Republic Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-dz
                        | Algeria Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ec
                        | Ecuador Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ee
                        | Estonia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-eg
                        | Egypt Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-eh
                        | Western Sahara Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-er
                        | Eritrea Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-es
                        | Spain Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-et
                        | Ethiopia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-fi
                        | Finland Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-fj
                        | Fiji Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-fk
                        | Falkland Islands Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-fm
                        | Federated States of Micronesia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-fo
                        | Faroe Islands Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-fr
                        | France Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ga
                        | Gabon Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-gb
                        | United Kingdom Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-gd
                        | Grenada Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ge
                        | Georgia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-gf
                        | French Guiana Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-gg
                        | Guernsey Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-gh
                        | Ghana Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-gi
                        | Gibraltar Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-gl
                        | Greenland Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-gm
                        | Gambia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-gn
                        | Guinea Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-gp
                        | Guadeloupe Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-gq
                        | Equatorial Guinea Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-gr
                        | Greece Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-gs
                        | South Georgia and the South Sandwich Islands Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-gt
                        | Guatemala Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-gu
                        | Guam Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-gw
                        | Guinea-Bissau Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-gy
                        | Guyana Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-hk
                        | Hong Kong Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-hn
                        | Honduras Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-hr
                        | Croatia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ht
                        | Haiti Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-hu
                        | Hungary Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-id
                        | Indonesia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ie
                        | Ireland Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-il
                        | Israel Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-im
                        | Isle of Man Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-io
                        | British Indian Ocean Territory Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-iq
                        | Iraq Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ir
                        | Iran (Islamic Republic of) Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-is
                        | Iceland Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-it
                        | Italy Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-je
                        | Jersey Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-jm
                        | Jamaica Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-jo
                        | Jordan Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-jp
                        | Japan Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ke
                        | Kenya Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-kg
                        | Kyrgyzstan Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-kh
                        | Cambodia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ki
                        | Kiribati Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-km
                        | Comoros Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-kn
                        | Saint Kitts and Nevis Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-kp
                        | North Korea Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-kr
                        | South Korea Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-kw
                        | Kuwait Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ky
                        | Cayman Islands Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-kz
                        | Kazakhstan Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-la
                        | Laos Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-lb
                        | Lebanon Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-lc
                        | Saint Lucia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-li
                        | Liechtenstein Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-lk
                        | Sri Lanka Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-lr
                        | Liberia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ls
                        | Lesotho Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-lt
                        | Lithuania Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-lu
                        | Luxembourg Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-lv
                        | Latvia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ly
                        | Libya Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ma
                        | Morocco Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-mc
                        | Monaco Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-md
                        | Moldova Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-me
                        | Montenegro Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-mf
                        | Saint Martin Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-mg
                        | Madagascar Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-mh
                        | Marshall Islands Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-mk
                        | Former Yugoslav Republic of Macedonia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ml
                        | Mali Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-mm
                        | Myanmar Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-mn
                        | Mongolia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-mo
                        | Macau Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-mp
                        | Northern Mariana Islands Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-mq
                        | Martinique Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-mr
                        | Mauritania Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ms
                        | Montserrat Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-mt
                        | Malta Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-mu
                        | Mauritius Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-mv
                        | Maldives Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-mw
                        | Malawi Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-mx
                        | Mexico Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-my
                        | Malaysia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-mz
                        | Mozambique Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-na
                        | Namibia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-nc
                        | New Caledonia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ne
                        | Niger Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-nf
                        | Norfolk Island Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ng
                        | Nigeria Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ni
                        | Nicaragua Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-nl
                        | Netherlands Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-no
                        | Norway Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-np
                        | Nepal Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-nr
                        | Nauru Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-nu
                        | Niue Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-nz
                        | New Zealand Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-om
                        | Oman Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-pa
                        | Panama Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-pe
                        | Peru Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-pf
                        | French Polynesia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-pg
                        | Papua New Guinea Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ph
                        | Philippines Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-pk
                        | Pakistan Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-pl
                        | Poland Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-pm
                        | Saint Pierre and Miquelon Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-pn
                        | Pitcairn Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-pr
                        | Puerto Rico Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ps
                        | State of Palestine Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-pt
                        | Portugal Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-pw
                        | Palau Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-py
                        | Paraguay Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-qa
                        | Qatar Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-re
                        | R&eacute;union Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ro
                        | Romania Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-rs
                        | Serbia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ru
                        | Russia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-rw
                        | Rwanda Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-sa
                        | Saudi Arabia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-sb
                        | Solomon Islands Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-sc
                        | Seychelles Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-sd
                        | Sudan Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-se
                        | Sweden Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-sg
                        | Singapore Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-sh
                        | Saint Helena, Ascension and Tristan da Cunha Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-si
                        | Slovenia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-sj
                        | Svalbard and Jan Mayen Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-sk
                        | Slovakia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-sl
                        | Sierra Leone Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-sm
                        | San Marino Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-sn
                        | Senegal Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-so
                        | Somalia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-sr
                        | Suriname Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ss
                        | South Sudan Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-st
                        | Sao Tome and Principe Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-sv
                        | El Salvador Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-sx
                        | Sint Maarten Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-sy
                        | Syrian Arab Republic Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-sz
                        | Swaziland Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-tc
                        | Turks and Caicos Islands Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-td
                        | Chad Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-tf
                        | French Southern Territories Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-tg
                        | Togo Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-th
                        | Thailand Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-tj
                        | Tajikistan Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-tk
                        | Tokelau Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-tl
                        | Timor-Leste Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-tm
                        | Turkmenistan Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-tn
                        | Tunisia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-to
                        | Tonga Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-tr
                        | Turkey Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-tt
                        | Trinidad and Tobago Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-tv
                        | Tuvalu Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-tw
                        | Taiwan Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-tz
                        | Tanzania Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ua
                        | Ukraine Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ug
                        | Uganda Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-um
                        | United States Minor Outlying Islands Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-us
                        | United States of America Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-uy
                        | Uruguay Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-uz
                        | Uzbekistan Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-va
                        | Holy See Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-vc
                        | Saint Vincent and the Grenadines Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ve
                        | Venezuela (Bolivarian Republic of) Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-vg
                        | Virgin Islands (British) Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-vi
                        | Virgin Islands (U.S.) Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-vn
                        | Vietnam Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-vu
                        | Vanuatu Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-wf
                        | Wallis and Futuna Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ws
                        | Samoa Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-ye
                        | Yemen Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-yt
                        | Mayotte Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-za
                        | South Africa Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-zm
                        | Zambia Flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                            i.flag-icon.flag-icon-zw
                        | Zimbabwe Flag

      // theme body end

    // footer start 
    +footer    
    // footer end


    +footerfile        