doctype html
html(lang="en")

  include ../components/headerfile

  

  body

    +header
    
    .themebody-wrap

      // breadcrumb start
      +codexbreadcrumb('Feather Icons','icons')
      // breadcrumb end

      // theme body start
      .theme-body
        .container-fluid.profile-page
          .row     
            .col-12 
              .card 
                .card-body
                  .row.cdx-row                        
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="activity" )
                        | activity
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="airplay")
                        | airplay
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="alert-circle")
                        | alert-circle
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="alert-octagon")
                        | alert-octagon
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="alert-triangle")
                        | alert-triangle
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="align-center")
                        | align-center
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="align-justify")
                        | align-justify
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="align-left")
                        | align-left
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="align-right")
                        | align-right
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="anchor")
                        | anchor
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="aperture")
                        | aperture
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="archive")
                        | archive
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="arrow-down-circle")
                        | arrow-down-circle
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="arrow-down-left")
                        | arrow-down-left
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="arrow-down-right")
                        | arrow-down-right
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="arrow-down")
                        | arrow-down
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="arrow-left-circle")
                        | arrow-left-circle
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="arrow-left")
                        | arrow-left
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="arrow-right-circle")
                        | arrow-right-circle
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="arrow-right")
                        | arrow-right
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="arrow-up-circle")
                        | arrow-up-circle
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="arrow-up-left")
                        | arrow-up-left
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="arrow-up-right")
                        | arrow-up-right
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="arrow-up")
                        | arrow-up
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="at-sign")
                        | at-sign
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="award")
                        | award
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="bar-chart-2")
                        | bar-chart-2
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="bar-chart")
                        | bar-chart
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="battery-charging")
                        | battery-charging
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="battery")
                        | battery
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="bell-off")
                        | bell-off
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="bell")
                        | bell
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="bluetooth")
                        | bluetooth
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="bold")
                        | bold
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="book-open")
                        | book-open
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="book")
                        | book
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="bookmark")
                        | bookmark
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="box")
                        | box
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="briefcase")
                        | briefcase
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="calendar")
                        | calendar
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="camera-off")
                        | camera-off
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="camera")
                        | camera
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="cast")
                        | cast
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="check-circle")
                        | check-circle
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="check-square")
                        | check-square
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="check")
                        | check
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="chevron-down")
                        | chevron-down
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="chevron-left")
                        | chevron-left
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="chevron-right")
                        | chevron-right
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="chevron-up")
                        | chevron-up
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="chevrons-down")
                        | chevrons-down
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="chevrons-left")
                        | chevrons-left
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="chevrons-right")
                        | chevrons-right
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="chevrons-up")
                        | chevrons-up
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="chrome")
                        | chrome
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="circle")
                        | circle
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="clipboard")
                        | clipboard
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="clock")
                        | clock
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="cloud-drizzle")
                        | cloud-drizzle
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="cloud-lightning")
                        | cloud-lightning
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="cloud-off")
                        | cloud-off
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="cloud-rain")
                        | cloud-rain
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="cloud-snow")
                        | cloud-snow
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="cloud")
                        | cloud
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="code")
                        | code
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="codepen")
                        | codepen
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="codesandbox")
                        | codesandbox
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="coffee")
                        | coffee
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="columns")
                        | columns
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="command")
                        | command
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="compass")
                        | compass
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="copy")
                        | copy
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="corner-down-left")
                        | corner-down-left
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="corner-down-right")
                        | corner-down-right
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="corner-left-down")
                        | corner-left-down
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="corner-left-up")
                        | corner-left-up
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="corner-right-down")
                        | corner-right-down
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="corner-right-up")
                        | corner-right-up
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="corner-up-left")
                        | corner-up-left
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="corner-up-right")
                        | corner-up-right
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="cpu")
                        | cpu
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="credit-card")
                        | credit-card
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="crop")
                        | crop
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="crosshair")
                        | crosshair
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="database")
                        | database
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="delete")
                        | delete
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="disc")
                        | disc
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="divide-circle")
                        | divide-circle
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="divide-square")
                        | divide-square
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="divide")
                        | divide
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="dollar-sign")
                        | dollar-sign
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="download-cloud")
                        | download-cloud
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="download")
                        | download
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="dribbble")
                        | dribbble
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="droplet")
                        | droplet
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="edit-2")
                        | edit-2
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="edit-3")
                        | edit-3
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="edit")
                        | edit
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="external-link")
                        | external-link
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="eye-off")
                        | eye-off
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="eye")
                        | eye
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="facebook")
                        | facebook
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="fast-forward")
                        | fast-forward
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="feather")
                        | feather
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="figma")
                        | figma
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="file-minus")
                        | file-minus
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="file-plus")
                        | file-plus
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="file-text")
                        | file-text
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="file")
                        | file
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="film")
                        | film
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="filter")
                        | filter
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="flag")
                        | flag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="folder-minus")
                        | folder-minus
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="folder-plus")
                        | folder-plus
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="folder")
                        | folder
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="framer")
                        | framer
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="frown")
                        | frown
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="gift")
                        | gift
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="git-branch")
                        | git-branch
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="git-commit")
                        | git-commit
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="git-merge")
                        | git-merge
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="git-pull-request")
                        | git-pull-request
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="github")
                        | github
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="gitlab")
                        | gitlab
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="globe")
                        | globe
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="grid")
                        | grid
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="hard-drive")
                        | hard-drive
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="hash")
                        | hash
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="headphones")
                        | headphones
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="heart")
                        | heart
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="help-circle")
                        | help-circle
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="hexagon")
                        | hexagon
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="home")
                        | home
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="image")
                        | image
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="inbox")
                        | inbox
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="info")
                        | info
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="instagram")
                        | instagram
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="italic")
                        | italic
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="key")
                        | key
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="layers")
                        | layers
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="layout")
                        | layout
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="life-buoy")
                        | life-buoy
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="link-2")
                        | link-2
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="link")
                        | link
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="linkedin")
                        | linkedin
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="list")
                        | list
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="loader")
                        | loader
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="lock")
                        | lock
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="log-in")
                        | log-in
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="log-out")
                        | log-out
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="mail")
                        | mail
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="map-pin")
                        | map-pin
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="map")
                        | map
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="maximize-2")
                        | maximize-2
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="maximize")
                        | maximize
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="meh")
                        | meh
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="menu")
                        | menu
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="message-circle")
                        | message-circle
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="message-square")
                        | message-square
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="mic-off")
                        | mic-off
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="mic")
                        | mic
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="minimize-2")
                        | minimize-2
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="minimize")
                        | minimize
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="minus-circle")
                        | minus-circle
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="minus-square")
                        | minus-square
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="minus")
                        | minus
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="monitor")
                        | monitor
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="moon")
                        | moon
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="more-horizontal")
                        | more-horizontal
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="more-vertical")
                        | more-vertical
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="mouse-pointer")
                        | mouse-pointer
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="move")
                        | move
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="music")
                        | music
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="navigation-2")
                        | navigation-2
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="navigation")
                        | navigation
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="octagon")
                        | octagon
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="package")
                        | package
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="paperclip")
                        | paperclip
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="pause-circle")
                        | pause-circle
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="pause")
                        | pause
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="pen-tool")
                        | pen-tool
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="percent")
                        | percent
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="phone-call")
                        | phone-call
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="phone-forwarded")
                        | phone-forwarded
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="phone-incoming")
                        | phone-incoming
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="phone-missed")
                        | phone-missed
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="phone-off")
                        | phone-off
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="phone-outgoing")
                        | phone-outgoing
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="phone")
                        | phone
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="pie-chart")
                        | pie-chart
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="play-circle")
                        | play-circle
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="play")
                        | play
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="plus-circle")
                        | plus-circle
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="plus-square")
                        | plus-square
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="plus")
                        | plus
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="pocket")
                        | pocket
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="power")
                        | power
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="printer")
                        | printer
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="radio")
                        | radio
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="refresh-ccw")
                        | refresh-ccw
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="refresh-cw")
                        | refresh-cw
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="repeat")
                        | repeat
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="rewind")
                        | rewind
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="rotate-ccw")
                        | rotate-ccw
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="rotate-cw")
                        | rotate-cw
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="rss")
                        | rss
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="save")
                        | save
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="scissors")
                        | scissors
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="search")
                        | search
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="send")
                        | send
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="server")
                        | server
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="settings")
                        | settings
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="share-2")
                        | share-2
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="share")
                        | share
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="shield-off")
                        | shield-off
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="shield")
                        | shield
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="shopping-bag")
                        | shopping-bag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="shopping-cart")
                        | shopping-cart
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="shuffle")
                        | shuffle
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="sidebar")
                        | sidebar
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="skip-back")
                        | skip-back
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="skip-forward")
                        | skip-forward
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="slack")
                        | slack
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="slash")
                        | slash
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="sliders")
                        | sliders
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="smartphone")
                        | smartphone
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="smile")
                        | smile
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="speaker")
                        | speaker
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="square")
                        | square
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="star")
                        | star
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="stop-circle")
                        | stop-circle
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="sun")
                        | sun
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="sunrise")
                        | sunrise
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="sunset")
                        | sunset
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="tablet")
                        | tablet
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="tag")
                        | tag
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="target")
                        | target
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="terminal")
                        | terminal
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="thermometer")
                        | thermometer
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="thumbs-down")
                        | thumbs-down
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="thumbs-up")
                        | thumbs-up
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="toggle-left")
                        | toggle-left
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="toggle-right")
                        | toggle-right
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="tool")
                        | tool
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="trash-2")
                        | trash-2
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="trash")
                        | trash
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="trello")
                        | trello
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="trending-down")
                        | trending-down
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="trending-up")
                        | trending-up
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="triangle")
                        | triangle
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="truck")
                        | truck
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="tv")
                        | tv
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="twitch")
                        | twitch
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="twitter")
                        | twitter
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="type")
                        | type
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="umbrella")
                        | umbrella
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="underline")
                        | underline
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="unlock")
                        | unlock
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="upload-cloud")
                        | upload-cloud
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="upload")
                        | upload
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="user-check")
                        | user-check
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="user-minus")
                        | user-minus
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="user-plus")
                        | user-plus
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="user-x")
                        | user-x
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="user")
                        | user
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="users")
                        | users
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="video-off")
                        | video-off
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="video")
                        | video
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="voicemail")
                        | voicemail
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="volume-1")
                        | volume-1
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="volume-2")
                        | volume-2
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="volume-x")
                        | volume-x
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="volume")
                        | volume
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="watch")
                        | watch
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="wifi-off")
                        | wifi-off
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="wifi")
                        | wifi
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="wind")
                        | wind
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="x-circle")
                        | x-circle
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="x-octagon")
                        | x-octagon
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="x-square")
                        | x-square
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="x")
                        | x
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="youtube")
                        | youtube
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="zap-off")
                        | zap-off
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="zap")
                        | zap
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="zoom-in")
                        | zoom-in
                    .col-xxl-3.col-md-4.col-sm-6
                      .exicon-box
                        .icon-wrap
                         i(data-feather="zoom-out")
                        | zoom-out
      // theme body end
      
    // footer start 
    +footer    
    // footer end


    +footerfile        