doctype html
html(lang="en")
  include ../components/headerfile
  body     

    // New Password Start
    .auth-main
      .codex-authbox
        .auth-header
          .auth-icon
            i.fa.fa-unlock-alt
          h3 reset your password                 
          p You&apos;ve Successfully Verified Your Account. Enter 
            br
            |  New Passeord Below.
        form(action='#')
          .form-group
            label.form-label New Password
            .input-group.group-input
              input.form-control.showhide-password(type='password' placeholder='Enter Your New Password' required='')
              span.input-group-text.toggle-show.fa.fa-eye
          .form-group
            label.form-label confirm password
            .input-group.group-input
              input.form-control.showhide-password(type='password' placeholder='Re Enter Your Password' required='')
              span.input-group-text.toggle-show.fa.fa-eye
          .form-group.mb-0
            button.btn.btn-primary(type='submit') Update Password
    // New Password End


    +footerfile