<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!-- Bootstrap-5 -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- custom-styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/animation.css">
</head>
<body>
    <main class="overflow-hidden">

        <!-- coming soon -->
        <div class="coming-soon">
            <div class="coming-soon-inner">
                <h1 class="reveal title-coming">
                    Coming soon
                </h1>
                <div class="reveal time">
                    <div id="countdown">
                        Loading...
                    </div>
                    <div id="countdown2">
                        Loading...
                    </div>
                </div>

            </div>
        </div>

        <!-- social icons -->
        <div class="fade-up social-icons">
            <div class="row">
                <div class="social-icon-single facebook">
                    <a href="#">
                        <div class="icon-single-inner">
                            <div class="social-text">facebook</div>
                            <div class="icon">
                                <i class="fa-brands fa-facebook-f"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="social-icon-single twitter">
                    <a href="#">
                        <div class="icon-single-inner">
                            <div class="social-text">twiiter</div>
                            <div class="icon">
                                <i class="fa-brands fa-twitter"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="social-icon-single pinterest">
                    <a href="#">
                        <div class="icon-single-inner">
                            <div class="social-text">pinterest</div>
                            <div class="icon">
                                <i class="fa-brands fa-pinterest-p"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="social-icon-single instagram">
                    <a href="#">
                        <div class="icon-single-inner">
                            <div class="social-text">instagram</div>
                            <div class="icon">
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="social-icon-single dribble">
                    <a href="#">
                        <div class="icon-single-inner">
                            <div class="social-text">dribble</div>
                            <div class="icon">
                                <i class="fa-brands fa-dribbble"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="social-icon-single devianart">
                    <a href="#">
                        <div class="icon-single-inner">
                            <div class="social-text">devianart</div>
                            <div class="icon">
                                <i class="fa-brands fa-deviantart"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="social-icon-single google">
                    <a href="#">
                        <div class="icon-single-inner">
                            <div class="social-text">google+</div>
                            <div class="icon">
                                <i class="fa-brands fa-google-plus-g"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="social-icon-single behance">
                    <a href="#">
                        <div class="icon-single-inner">
                            <div class="social-text">behance</div>
                            <div class="icon">
                                <i class="fa-brands fa-behance"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>



    <!-- Bootstrap-5 -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Jquery -->
    <script src="assets/js/jquery-3.6.1.min.js"></script>

    <!-- My js -->
    <script src="assets/js/custom.js"></script>

</body>
</html>