/*L-desktop*/

@media (min-device-width:  1600px)
{
    
}

/*L-laptops*/
@media(max-width: 1440px)
{

    

    
}

/*laptops/tablets*/
@media(max-width: 1024px)
{
    .title
    {
        font-size: 50px;
    }
    .tag
    {
        font-size: 30px;
    }
    .pop_p
    {
        font-size: 14px;
    }
    .wrapper
    {
        width: 85%;
    }

    
}


/*tablets*/
@media(max-width: 768px)
{

   
    .subscribe button
    {
        font-size: 18px;
    }
    .contact
    {
        margin-top: 20px;
    }
    .particle
    {
        display: none;
    }


    

}


/*Smart phone*/
@media(max-width: 576px)
{
    .popup
    {
        width: 100%;
        padding: 20px;
    }
    .wrapper
    {
        width: 100%;
    }
    .title
    {
        font-size: 45px;
    }
    .tag
    {
        font-size: 25px;
    }
    .pop_p
    {
        width: 90%;
        font-size: 12px;
    }
    .subscribe input
    {
        width: 100%;
    }
    .subscribe button
    {
        width: 100%;
    }
    .particle
    {
        display: none;
    }
    .contact
    {
        margin-top: 20px;
    }
    .contact-info
    {
        margin-right: 10px;
    }
    .contact-info h3
    {
        font-size: 20px;
    }
    .contact-info p
    {
        font-size: 12px;
    }

    
    


    
}


