<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!-- Bootstrap-5 -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- custom-styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/animation.css">
</head>
<body>
    <main class="overflow-hidden">
        <div class="row">
            <div class="col-md-6 tab-100">
                <div class="wrapper">
                    <span class="reveal tag">We are Still working on it</span>
                    <h1 class="reveal">Under Construction</h1>

                    <!-- countdown -->
                    <div id="countdown" class="reveal">
                    </div>

                    <form class="reveal">
                        <input type="text" placeholder="Enter You Email">
                        <button type="button"><i class="fa-solid fa-chevron-right"></i></button>
                    </form>
                    <div class="social reveal">
                        <a href="#"><i class="icon fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="icon fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="icon fa-brands fa-google-plus-g"></i></a>
                        <a href="#"><i class="icon fa-solid fa-basketball"></i></a>
                        <a href="#"><i class="icon fa-brands fa-pinterest-p"></i></a>
                        <a href="#"><i class="icon fa-brands fa-git"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 tab-none pe-0">
                <img class="side-img" src="assets/images/side-img.png" alt="">
            </div>
        </div>
    </main>



    <!-- Bootstrap-5 -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Jquery -->
    <script src="assets/js/jquery-3.6.1.min.js"></script>

    <!-- My js -->
    <script src="assets/js/custom.js"></script>

</body>
</html>