/*L-desktop*/

@media (min-device-width:  1600px)
{
    
}

/*L-laptops*/
@media(max-width: 1440px)
{
    .wrapper
    {
        width: 80%;
        margin-left: 50px;
    }
    

    
}

/*laptops/tablets*/
@media(max-width: 1024px)
{
    body 
    {
        padding: 40px 30px;
    }
    .tab-100
    {
        width: 100%;
    }
    .tab-50
    {
        width: 50%;
    }
    .tab-33
    {
        width: 33.333333%;
        margin-bottom: 15px;
    }
    .wrapper
    {
        width: 90%;
        margin-left: 15px;
    }
    .steps-icon
    {
        display: none;
    }
    .form-text .main-heading
    {
        font-size: 27px;
    }
    .form-text .main-text
    {
        font-size: 14px;
    }
    .radio-field-2 .radio-single
    {
        width: 20%;
    }
    .next-prev button
    {
        font-size: 16px;
    }
    .main-content
    {
        width: 85%;
    }
    .next-prev
    {
        height: 55px;
    }
    .radio-field label, .radio-select-single label
    {
        font-size: 16px;
    }
    .radio-field
    {
        min-height: 65px;
    }
    .text-field, .select-field
    {
        min-height: 65px;
    }
    




    .thankyou-page article p
    {
        width: 80%;
    }
    .social-media
    {
        width: 65%;
    }
    .thankyou-page article h1
    {
        font-size: 60px;
    }
    .thankyou-page article h1 span
    {
        font-size: 65px;
    }
    .thankyou-page article span
    {
        font-size: 18px;
    }
    .step-bar-inner
    {
        width: 50%;
    }
}


/*tablets*/
@media(max-width: 768px)
{
    .tab-sm-100
    {
        width: 100%;
    }
    .tab-sm-50
    {
        width: 50%;
    }
    .main-content
    {
        width: 78%;
    }
    .step-bar-inner
    {
        width: 50%;
    }




    .social-media
    {
        width: 85%;
    }
    .hide-sidearea
    {
        display: none;
    }

}


/*Smart phone*/
@media(max-width: 576px)
{
    .mob-100
    {
        width: 100%;
    }
    .mob-50
    {
        width: 50%;
    }
    body
    {
        padding: 0;
    }
    .main-content
    {
        width: 100%;
    }
    .wrapper
    {
        width: 90%;
        margin: 0 auto;
    }
    .form-text .main-heading
    {
        font-size: 20px;
    }
    .steps-icon
    {
        display: none;
    }
    .form-text .main-text
    {
        font-size: 12px;
    }
    .radio-field label, .radio-select-single label
    {
        font-size: 15px;
    }
    .radio-field
    {
        min-height: 65px;
    }
    .text-field, .select-field
    {
        min-height: 65px;
    }
    .next-prev
    {
        height: 55px;
    }
    .next-prev button
    {
        font-size: 15px;
    }
    .radio-field-2 .radio-single
    {
        width: 33.3333%;
    }
    .next-prev .inner
    {
        width: 100%;
    }
    .next-prev .skip
    {
        display: none;
    }
    .field-heading
    {
        font-size: 16px;
    }
    .radio-select-single
    {
        width: 100%;
    }
    .mb-sm-3
    {
        margin-bottom: 20px;
    }
    .step-bar-inner
    {
        width: 100%;
        border-radius: 0;
    }


    




    
    .thankyou-page article h1
    {
        font-size: 30px;
    }
    .thankyou-page article h1 span
    {
        font-size: 35px;
    }
    .thankyou-page article span
    {
        font-size: 15px;
    }
    .thankyou-page article p
    {
        font-size: 15px;
        width: 90%;
    }
    .thankyou-page .logo-text
    {
        font-size: 60px;
    }
    .social-media
    {
        width: 100%;
    }
    .hide-sidearea
    {
        display: none;
    }


    
}


