@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* variables */
:root
{
    --primary-color: rgb(0, 143, 156);
    --secondary-color: rgb(249, 184, 68);
    --secondary-color-2: rgb(28, 189, 116);
    --field-text-color: rgb(24,24,24);
    --text-color: rgb(88, 88,88);
    --field-color: rgb(244,244,244);
}
body
{
    font-family: "Jost";
    width: 100%;
    position: relative;
    min-height: 100vh;
    background-image: url(../images/bg.jpg);
    width: 100%;
    background-size: cover;
    padding: 40px 50px;
    padding-bottom: 100px;


    
}
.logo
{
    display: flex;
    align-items: center;
    height: auto;
}
.logo-icon
{
    width: auto;
}
.logo-icon img
{
    width: 100%;
}
.logo-text
{
    font-size: 37px;
    font-family: "Oswald";
    color: var(--field-text-color);
    font-weight: bold;
    margin-left: 3px;
}
main
{
    position: relative;
    height: 100%;
    min-height: 500px;
}

.step-type
{
    position: absolute;
    bottom: 0;
    left: 0;
}
.step-type-single
{
    text-align: center;
}
.step-type-single .circle
{
    border-radius: 50%;
    background-color: rgb(155, 160, 164);
    width: 19px;
    height: 19px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 5px;
    transition: 0.3s;
}
.step-type-single .step-text
{
    color: rgb(155, 160, 164);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: normal;
    transition: 0.3s;
}
.step-type-single::after
{
    display: block;
    content: "";
    background-color: rgb(155, 160, 164);
    margin: 10px auto;
    width: 3px;
    height: 37px;
    transition: 0.3s;
}
.step-type-single.no-line::after  
{
    display: none;
}
.step-type-single.active .circle
{
    background-color: var(--primary-color);
}
.step-type-single.active .step-text
{
    color: var(--primary-color);
}
.step-type-single.active::after
{
    background-color: var(--primary-color);
}
.main-content
{
    height: auto;
    width: 88%;
    margin: 0 auto;
    position: relative;
    margin-top: 45px;

}
.content-inner
{
    background-color: rgb(255,255,255);
 
}
.step-bar
{
    position: absolute;
    left: 0;
    bottom: -40px;
    width: auto;
    width: 100%;
      
}
.step-bar-inner
{
    height: 23px;
    width: 35%;
    background-color: rgb(255,255,255);
    border-radius: 50px;
}
.step-bar-inner .step-bar-move
{
    background-color: var(--primary-color);
    width: 0%;
    border-radius: inherit;
    height: inherit;
    text-align: right;
    font-size: 14px;
    font-family: "Oswald";
    padding-right: 15px;
    line-height: 23px;
    transition: 0.5s;
    color: rgb(255, 255, 255); 
}
.side-area
{
    width: 100%;
    height: 100%;
}
.side-area img
{
    width: 100%;
    height: -webkit-fill-available;
}
.steps-icon
{
    position: absolute;
    top: 40px;
    right: 50px;
    width: auto;
}
.steps-icon img
{
    width: 100%;
}
.wrapper
{
    width: 64%;
    margin-left: 100px;
    height: 100%;
    display: grid;
    align-content: center;
    padding: 70px 0px;
}
.form-text .main-heading
{
    font-size: 38px;
    color: var(--field-text-color);
    font-weight: bold;
}
.form-text .main-text
{
    font-size: 18px;
    font-family: "Roboto";
    color: var(--text-color); 
}
.steps-inner
{
    margin-top: 30px;
}
.radio-field
{
    width: 100%;
    background-color: var(--field-color);
    min-height: 73px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    margin-bottom: 14px;
    border: solid 2px transparent;
}
.radio-field input, .radio-select-single input
{
    -webkit-appearance: none;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: 0.3s;
}
.radio-field label, .radio-select-single label
{
    font-size: 18px;
    color: var(--field-text-color);
    font-weight: bold;
    margin-left: 12px;   
}
.radio-field input:checked, .radio-select-single input:checked
{
    background-color: var(--secondary-color);
}
.checked
{
    border-color: var(--secondary-color);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.14);
    transition: 0.3s;
}
.next-prev
{
    margin-top: 50px;
    width: 100%;
    display: flex;
    height: 65px;  
}
.next-prev .inner
{
    background-color: rgb(38, 38, 37);
    display: flex;
    width: 78%;
    border-radius: 50px;
    height: 100%;

}
#step1 .next-prev button
{
    width: 100% !important;

}
#step5 .next-prev
{
    background-color: rgb(38, 38, 37);
    border-radius: 50px;
}
.next-prev button
{
    font-size: 18px;
    color: var(--field-text-color);
    font-weight: bold;
}
.next-prev .prev
{
    color: rgb(255,255,255);
    width: 35%;
    border: 0;
    background-color: transparent;
}
.next-prev .next, .next-prev .apply
{
    width: -webkit-fill-available;
    background-color: var(--secondary-color);
    height: 100%;
    border-radius: 50px;
    border: solid 2px transparent;
}
.next-prev .skip
{
    color: var(--primary-color);
    text-decoration: underline;
    background: transparent;
    width: 22%;
    border: 0;
    text-align: right;


}
.text-field, .select-field
{
    width: 100%;
    min-height: 73px;
    /* background-color: var(--field-color); */
    border-radius: 50px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.bottom-line
{
    border-bottom: solid 2px var(--field-color);
    margin-bottom: 20px;
}

.text-field input, .select-field select
{

    background-color: var(--field-color);
    width: 100%;
    height: 100%;
    border: solid 2px transparent;
    border-radius: inherit;
    color: var(--text-color);
    padding-left: calc(35px + 25px);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;
}
.text-field i, .select-field i
{
    font-size: 16px;
    color: var(--secondary-color-2);
    position: relative;
    z-index: 10;
    pointer-events: none;
    margin-left: 35px;
    transition: 0.3s;
}

.select-field select
{
    -webkit-appearance: none;
    cursor: pointer;
    padding-left: 35px;
}
.text-field.p-custom input
{
    padding-left: 35px;
}
.select-field select+span::after
{
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 16px;
    color: var(--secondary-color-2); 
    position: absolute;
    top: 35%;
    right: 25px;
    transition: 0.3s;
    pointer-events: none;
}
.text-field input:focus, .select-field select:focus
{
    outline: none;
    border-color: var(--secondary-color);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.14);
}
.text-field input:focus+i, .select-field select:focus+i
{
    color: var(--secondary-color);
}
.select-field select:focus+span::after
{
    color: var(--secondary-color);
}
.radio-field-2
{
    display: flex;
    align-content: center;
}
.radio-single
{
    display: flex;
    align-items: center;
    width: 15%;
}
.radio-single input
{
    -webkit-appearance: none;
    border: solid 2px rgb(201, 210, 228);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 21px;
    height: 21px;
    cursor: pointer;
    position: relative;
    transition: 0.3S;
}
.radio-single input:checked::before
{
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 9px;
    color: rgb(255, 255, 255);
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 10%;
    margin: 0 auto;
    width: 13px;
    border-radius: 50%;
    height: 13px;
    background-color: var(--secondary-color-2);

}
.radio-single input:checked
{

    transition: 0.3s;

}

.radio-single label
{
    font-size: 18px;
    color: var(--field-text-color);
    font-weight: bold;
    margin-left: 6px;
}
.field-heading
{
    font-size: 20px;
    color: var(--field-text-color);  
    font-weight: bold;
}
.radio-select
{
    border-radius: 30px;
    background-color: var(--field-color);
    min-height: 100px;
    margin-top: 20px;
    overflow: hidden;
}
.radio-heading
{
    font-size: 18px;
    color: var(--field-text-color);
    font-weight: bold;
    background-color: rgb(250, 250, 250);
    min-height: 55px;
    line-height: 55px;
    padding-left: 35px;
}
.radio-select-inner
{

    padding: 25px 25px;
    display: flex;
    flex-wrap: wrap;
}
.radio-select-single
{
    display: flex;
    width: 33.3333%;
    align-items: center;
    margin-bottom: 20px;
}
.radio-select-single label
{
    font-size: 16px;
    font-weight: 500;
}  
.residence-single
{
    width: 100%;
    height: 150px;
    position: relative;
    margin-top: 20px;
    text-align: center;
    display: grid;
    align-content: center;
    justify-content: center;
}
.residence-single input
{
    -webkit-appearance: none;
    border-radius: 20px;
    border: solid 2px transparent;
    background-color: var(--field-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: 0.3s;
}
.residence-single img , .residence-single label
{
    position: relative;
    z-index: 100;
    pointer-events: none;
}
.residence-single label
{
    font-size: 16px;
    color: var(--field-text-color);
    font-weight: bold;
    margin-top: 15px;
      
}
.residence-single input:checked
{
    border-color: var(--secondary-color);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.14);

}
.profile
{
    border-radius: 20px;
    background-color: var(--field-color);
    width: 100%;
    min-height: 160px;
    height: 100%;
    position: relative;
}
.profile .profile-img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.profile label
{
    background-color: rgb(255, 255, 255);
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    text-align: center;
    display: grid;
    place-content: center;
}
.profile label img
{
    pointer-events: none;
    width: auto;
}
.profile label input[type=file]
{
    display: none;
}
::-webkit-calendar-picker-indicator
{
    display: none;
}  
#step5 .radio-field-2 .radio-single
{
    width: 50%;
}
.gender
{
    font-size: 15px;
    font-weight: bold;
    color: var(--field-text-color);
    margin-bottom: 20px;
}
.file span
{
    font-size: 15px;
    color: rgb(135, 135, 135);
}

.file .file-inner
{
    background-color: rgb(77, 77, 224);
    width: 155px;
    height: 52px;
    border-radius: 50px;
    margin-top: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
}
.file .file-inner span
{
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 500; 
}
.file .file-inner i
{
    margin-left: 8px;
}
.file label[for=file] input
{
    display: none;
}  




















.thankyou-page .logo
{
    justify-content: center;
    margin-top: 60px;
}
.thankyou-page .logo-icon
{
    width: 55px;
    margin-right: 10px;
}
.thankyou-page .logo .logo-icon img
{
    width: 100%;
}
.thankyou-page .logo-text
{
    font-size: 65px;
}
.thankyou-page .main-inner
{
    background-image: url(../images/thankyou-bg.png) !important;
    background-color: var(--text-color-hover);

}
.thankyou-page article
{
    text-align: center;
    margin-top: 80px;
}
.thankyou-page article h1
{
        font-size: 75px;
        font-weight: bold;
        text-transform: uppercase; 
}
.thankyou-page article h1 span
{
    display: block;
    font-size: 80px;
    font-weight: 900;
    color: var(--primary-color);
}
.thankyou-page article span
{
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 500;
}
.thankyou-page article p
{
    font-size: 18px;
    font-family: "Myriad Pro";
    color: var(--secondary--text-color);
    margin: 0 auto;
    margin-top: 45px;
    width: 39%;
}
.social-media
{
    text-align: center;
    margin: 40px auto;
    background-color: var(--text-color-hover);
    width: 30%;
    padding: 6px 10px;
}
.social-media a
{
    border: solid 1px rgb(244, 244, 244);
    border-radius: 5px;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    color: var(--secondary--text-color);
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
}
.social-media a i
{
    margin-right: 10px;
    font-size: 20px;
}
.back-home
{
    width: 188px;
    height: 63px;
    margin: 0 auto;
}
.back-home a
{
    background-color: var(--primary-color);
    border-radius: 50px;
    color: var(--text-color-hover);
    width: 100%;
    height: 100%;
    line-height: 63px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 0;

}







#sub img
{
    width: 60px;
}

.highlight
{
    border-top: solid 3px var(--primary-color) !important;
    border-bottom: solid 3px var(--primary-color) !important;

}













#error
{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 20;
}



.invalid
{
  border: solid 2px #ff4444 !important;
  position: relative;
}