// theme fonts
$font-poppins: 'Poppins', sans-serif;
$font-awesome: 'FontAwesome';
$font-themify: 'themify';

// theme colors
$theme-primary:#0c4079;
$theme-secondary: #e2562a;
$theme-success:#10b981;
$theme-info:#0ea5e9;
$theme-warning:#ff9800;
$theme-danger:#ff5724;
$theme-light:#f4f7fc;
$theme-dark:#333333;
$theme-border:#e5e5e5;

// theme fonts colors
$black:#051722;
$white:#ffffff;
$font-light:#8392a5;
$bg-light:#f4f6fb;
$codex-font-color:#262626;
$theme-shadow: 0 0 20px rgba($black,0.05);

// social icon color
$fb-color:#385196;
$twt-color:#00a8ff;
$insta-color: #e2215d;
$whp-color:#4aec61;

// dark layout
$dark-body:#0c162e;
$dark-card:#18223a;
$extradark-card:#223050;
$dark-font:#cdc9c9;
$dark-small-font:#cdc9c9;
$dark-border:#0d3e5e;