<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!-- Bootstrap-5 -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- custom-styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/animation.css">

</head>
<body>
    <section class="container">
        <div class="popup fadedown">
            <div class="wrapper">
                <div class="title">
                    50% off
                </div>
                <h2 class="tag">
                    Subscribe to Get  Discount!
                </h2>
                <p class="pop_p">
                    Garcia, a versatil web designer. Phasellus vehicula the justo eg diam in posuere phasellus eget sem
                </p>
                <form class="subscribe">
                    <input type="text" placeholder="Enter your email">
                    <button type="button">subscribe</button>
                </form>
                <div class="socialicon">
                    <div class="iconinner">
                        <a href="#"><img src="assets/images/icons/fb.png" alt="fb"></a>
                        <a href="#"><img src="assets/images/icons/twitter.png" alt="twitter"></a>
                        <a href="#"><img src="assets/images/icons/g.png" alt="g"></a>
                        <a href="#"><img src="assets/images/icons/yt.png" alt="yt"></a>
                        <a href="#"><img src="assets/images/icons/rss.png" alt="rss"></a>
                    </div>
                    <div class="contact">
                        <div class="contact-icon">
                            <img src="assets/images/icons/email.png" alt="email">
                        </div>
                        <div class="contact-info">
                            <h3>info@email.com</h3>
                            <p>online support</p>
                        </div>
                    </div>
                </div>
            </div>
            <img class="part1 particle" src="assets/images/particle 1.png" alt="1">
            <img class="part2 particle" src="assets/images/particle 2.png" alt="2">
            <img class="part3 particle" src="assets/images/particle 3.png" alt="3">

            <div class="cancel">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
    </section>



    <!-- Bootstrap-5 -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Jquery -->
    <script src="assets/js/jquery-3.6.1.min.js"></script>

    <!-- My js -->
    <script src="assets/js/custom.js"></script>

</body>
</html>