<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!-- Bootstrap-5 -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- custom-styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/animation.css">

</head>
<body>
    <section class="container">
        <div class="popup fadedown">
            <div class="row">
                <div class="col-md-7">
                    <div class="pop-inner">
                        <h1 class="title">
                            Want to Get <strong>More?</strong>
                        </h1> 
                        <p class="popup-text">
                            Subscribe to our Newsletter & get 10% off
                        </p>
                        <form>
                            <fieldset class="subscribe">
                                <input type="text" placeholder="Subscribe Email">
                                <button>Subscribe</button>
                            </fieldset>
                        </form>
                        <div class="socialicons">
                            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                            <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
       
                </div>
                <div class="col-md-5">
                    <img class="side-image" src="assets/images/side.png" alt="man">
                </div>
            </div>


            

            <div class="cancel">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <img class="part" src="assets/images/part.png" alt="particle">
        </div>
    </section>



    <!-- Bootstrap-5 -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Jquery -->
    <script src="assets/js/jquery-3.6.1.min.js"></script>

    <!-- My js -->
    <script src="assets/js/custom.js"></script>

</body>
</html>