/*L-desktop*/

@media (min-device-width:  1600px)
{
    
}

/*L-laptops*/
@media(max-width: 1440px)
{

    

    
}

/*laptops/tablets*/
@media(max-width: 1024px)
{

    .pole-inner
    {
        width: 70%;
    }
}


/*tablets*/
@media(max-width: 768px)
{


    .main-heading
    {
        font-size: 30px;
    }


}


/*Smart phone*/
@media(max-width: 576px)
{

    
    .main-heading
    {
        font-size: 20px;
    }
    .pole-inner
    {
        width: 100%;
    }
    .radiofield, .result span
    {
        height: 50px;
    }
    .radiofield label, .result span
    {
        font-size: 13px;
        line-height: 50px;
    }
    .next-prev button
    {
        font-size: 13px;
        height: 50px;
        line-height: 50px;
    }
    .next-prev
    {
        bottom: auto;
    }


    
}


