<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!-- Bootstrap-5 -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- custom-styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/animation.css">

        <!-- color sceme -->
        <link rel="stylesheet" href="assets/css/colorvariants/default.css" id="defaultscheme">



        <!-- color switcher -->
        <link rel="stylesheet" href="colorswitcher/assets/css/colorswitcher.css">
</head>
<body>

    <main class="container overflow-hidden fadedown">

        <form class="show-section" method="post" id="steps">

            <!-- section 1 -->
            <section class="steps">

                <!-- form -->
                
                    <div class="row survey">
                        <div class="order-c col-md-3 ps-0">
                            <img class="survey-img" src="assets/images/side.jpg" alt="side">
                        </div>
                        <div class="p-ec col-md-9">
                            <div class="survey-inner">
                                <h1 class="main-heading">
                                    Tell Us about yourself
                                </h1>

                                <!-- question -->
                                <article class="question">
                                    <h2>What is your current Occupation?</h2>
                                    <p>Your Answer will help us improve our website to offer 
                                        you a better experience</p>
                                </article>

                                <!-- step 1 -->
                                <fieldset id="step1">
                                    <div class="row">
                                        <div class="col-md-6 tab-100">
                                            <div class="revealfield radio-field">
                                                <input type="radio" name="op1" value="Grahpic Designer">
                                                <i class="fa-solid fa-share-nodes"></i>
                                                <label>Grahpic Designer</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 tab-100">
                                            <div class="revealfield delay-100ms radio-field">
                                                <input type="radio" name="op1" value="Web designer / Developer">
                                                <i class="fa-solid fa-shapes"></i>
                                                <label>Web designer / Developer</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 tab-100">
                                            <div class="revealfield delay-200ms radio-field">
                                                <input type="radio" name="op1" value="Marketer / Coummunity Manager">
                                                <i class="fa-solid fa-cube"></i>
                                                <label>Marketer / Coummunity Manager</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 tab-100">
                                            <div class="revealfield delay-300ms radio-field">
                                                <input type="radio" name="op1" value="Instagrammer / Youtuber">
                                                <i class="fa-solid fa-video"></i>
                                                <label>Instagrammer / Youtuber</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 tab-100">
                                            <div class="revealfield delay-400ms radio-field">
                                                <input type="radio" name="op1" value="Blogger / Journalist">
                                                <i class="fa-solid fa-pen-nib"></i>
                                                <label>Blogger / Journalist</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 tab-100">
                                            <div class="revealfield delay-500ms radio-field">
                                                <input type="radio" name="op1" value="Teacher">
                                                <i class="fa-solid fa-chalkboard-user"></i>  
                                                <label>Teacher</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 tab-100">
                                            <div class="revealfield delay-600ms radio-field">
                                                <input type="radio" name="op1" value="Student">
                                                <i class="fa-solid fa-user-graduate"></i>
                                                <label>Student</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 tab-100">
                                            <div class="revealfield delay-700ms radio-field">
                                                <input type="radio" name="op1" value="Other">
                                                <i class="fa-solid fa-mug-hot"></i>
                                                <label>Other</label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="next-prev">
                                    <button type="button" id="step1btn" class="next"><i class="fa-solid fa-angles-right"></i>Next</button>
                                    <div class="step-bar">
                                        <div class="bar">
                                            <div class="w-100 fill"></div>
                                        </div>
                                        <div class="bar">
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>

            
            <!-- section 2 -->
            <section class="steps">

                <!-- form -->
                
                    <div class="row survey">
                        <div class="order-c col-md-3 ps-0">
                            <img class="survey-img" src="assets/images/side-2.jpg" alt="side">
                        </div>
                        <div class="p-ec col-md-9">
                            <div class="survey-inner">
                                <h1 class="main-heading">
                                    Tell Us about yourself
                                </h1>

                                <!-- question -->
                                <article class="question">
                                    <h2>What Scenario descibes your situation best?</h2>
                                    <p>Your Answer will help us improve our website to offer 
                                        you a better experience</p>
                                </article>

                                <!-- step 2 -->
                                <fieldset id="step2">
                                    <div class="row">
                                        <div class="col-md-6 tab-100">
                                            <div class="revealfield radio-field">
                                                <input type="radio" name="op2" value="i am a Freelancer">
                                                <i class="fa-solid fa-share-nodes"></i>
                                                <label>i am a Freelancer</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 tab-100">
                                            <div class="revealfield delay-100ms radio-field">
                                                <input type="radio" name="op2" value="I use Trimba for Personal">
                                                <i class="fa-solid fa-shapes"></i>
                                                <label>I use Trimba for Personal</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 tab-100">
                                            <div class="revealfield delay-200ms radio-field">
                                                <input type="radio" name="op2" value="Marketer / Coummunity Manager">
                                                <i class="fa-solid fa-cube"></i>
                                                <label>Marketer / Coummunity Manager</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 tab-100">
                                            <div class="revealfield delay-300ms radio-field">
                                                <input type="radio" name="op2" value="i work at a mid size company ( 50 - 250 )">
                                                <i class="fa-solid fa-video"></i>
                                                <label>i work at a mid company </br> ( 50 - 250 )</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 tab-100">
                                            <div class="revealfield delay-400ms radio-field">
                                                <input type="radio" name="op2" value="i work at a Large Company ( 50 - 250 )">
                                                <i class="fa-solid fa-pen-nib"></i>
                                                <label>i work at a Large Company </br> ( 50 - 250 )</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 tab-100">
                                            <div class="revealfield delay-500ms radio-field">
                                                <input type="radio" name="op2" value="I own a business">
                                                <i class="fa-solid fa-chalkboard-user"></i>  
                                                <label>I own a business</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 tab-100">
                                            <div class="revealfield delay-600ms radio-field">
                                                <input type="radio" name="op2" value="I use Trimba for education">
                                                <i class="fa-solid fa-user-graduate"></i>
                                                <label>I use Trimba for education</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 tab-100">
                                            <div class="revealfield delay-700ms radio-field">
                                                <input type="radio" name="op2" value="Other">
                                                <i class="fa-solid fa-mug-hot"></i>
                                                <label>Other</label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="next-prev">
                                    <button type="button" class="prev">Previous<i class="fa-solid fa-angles-left"></i></button>

                                    <button type="button" id="sub" class="next"><i class="fa-solid fa-angles-right"></i>Submit</button>
                                    <div class="step-bar">
                                        <div class="bar">
                                            <div class="fill"></div>
                                        </div>
                                        <div class="bar">
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
        </form>

        <div class="cancel">
            <i class="fa-solid fa-x"></i>
        </div>

    </main>







    
    <div id="error">

    </div>


    <!-- Bootstrap-5 -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Jquery -->
    <script src="assets/js/jquery-3.6.1.min.js"></script>

    <!-- My js -->
    <script src="assets/js/custom.js"></script>

        <!-- colorswitcher -->
        <script src="assets/js/callswitcher.js"></script>

</body>
</html>