/*L-desktop*/

@media (min-device-width:  1600px)
{
    
}

/*L-laptops*/
@media(max-width: 1440px)
{

    

    
}

/*laptops/tablets*/
@media(max-width: 1024px)
{
    .question p
    {
        width: 65%;
    }
    .radio-field
    {
        height: 80px;
    }
    .radio-field::after
    {
        font-size: 12px;
        height: 17px;
        width: 17px;
        line-height: 17px;
        top: 30px;
    }
    .radio-field i
    {
        min-width: 40px;
        height: 40px;
        font-size: 20px;
    }
    .radio-field label
    {
        font-size: 16px;
    }
    




    
}


/*tablets*/
@media(max-width: 768px)
{

    .tab-100
    {
        width: 100%;
    }
    .main-heading
    {
        font-size: 25px;
    }
    .question h2
    {
        font-size: 20px;
    }
    .question p
    {
        width: 100%;
    }
    .step-bar
    {
        position: fixed;
        padding: 20px;
        background-color: var(--field-color);
        z-index: 1000;
    }




    

}


/*Smart phone*/
@media(max-width: 576px)
{
    

    .step-bar
    {
        position: fixed;
        padding: 20px;
        background-color: var(--field-color);
        z-index: 1000;
    }
    .order-c
    {
        order: 2;
        display: none;
    }
    main 
    {
        background-color: var(--field-color);
        padding-right: 0;
    }
    .survey-inner
    {
        padding: 0;
    }
    .main-heading
    {
        font-size: 20px;
    }
    .survey
    {
        margin: 0;
    }
    .question h2
    {
        font-size: 18px;
    }
    .question p
    {
        font-size: 15px;
        width: 100%;
    }
    .radio-field
    {
        height: 80px;
    }
    .radio-field::after
    {
        font-size: 12px;
        height: 17px;
        width: 17px;
        line-height: 17px;
        top: 30px;
    }
    .radio-field i
    {
        min-width: 40px;
        height: 40px;
        font-size: 20px;
    }
    .radio-field label
    {
        font-size: 16px;
    }
    .next-prev button
    {
        width: 100%;
    }
    .cancel
    {
        top: 10px;
        right: 10px;
        height: 50px;
        width: 50px;
    }
    




    
    


    
}


