@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* variables */
:root
{
    --secondary-color: rgb(233, 238, 255);
    --text-color: rgb(20, 23, 46);
    --field-color: rgb(255,255,255);
}
body
{
    font-family: "Jost";
    width: 100%;
    position: relative;
    height: auto;
    background-color: rgb(2, 0, 65);
    background-image: url(../images/bg.png);
    background-size: cover;
}
  
main
{
    padding: 80px 0;
    position: relative;
    min-height: 100vh;
    transition: 0.5s;
}

.survey-img
{
    width: 100%;
    height: 100%;
}
.survey
{
    border-radius: 4px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: relative;
    height: 100%;
}
.survey-inner
{
    padding: 50px 60px;
    text-align: center;
}
.main-heading
{
    font-size: 35px;
    color: var(--text-color);
    font-weight: bold;
    text-transform: uppercase;
}
.question
{
    margin-top: 50px;
    margin-bottom: 40px;
}
.question h2
{
    font-size: 28px;
    color: var(--text-color);
}
.question p
{
    font-size: 20px;
    color: rgb(156, 156, 156);
    width: 55%;
    margin: 0 auto;
}


.radio-field 
{
    position: relative;
    height: 100px;
    width: 100%;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-left: auto;
    transition: 0.4s;
    opacity: 0;
      
}
.radio-field::before
{
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 100%;
    border-radius: 6px;
    display: grid;
    height: calc(100% - 4px);
    background-color: var(--primary-color);
    transition: 0.4s;
    z-index: -1;
}
.radio-field::after
{
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
    font-weight: 900;
    color: var(--primary-color);
    position: absolute;
    top: 39px;
    left: 2%;
    background-color: var(--field-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    z-index: -1;
}
.active::after
{
    z-index: 6;
}
.radio-field input
{
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--field-color);
    border: solid 2px rgb(232, 237, 254);
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;
    right: 0;
    margin-left: auto;
    z-index: 7;
}
.radio-field label, .radio-field i
{
    position: relative;
    z-index: 10;
    pointer-events: none;
    transition: 0.4s;
}

.radio-field input:hover
{
    border-color: var(--primary-color);
}


.radio-field input:checked
{
    width: 92%;
    border-color: var(--primary-color);
}
.active::before
{
    width: 100%;
    z-index: 1;
}
.active
{
    padding-left: calc(8% + 20px);
}

.radio-field i
{
    border-radius: 50%;
    background-color: rgb(233, 238, 255);
    min-width: 54px;
    display: grid;
    align-content: center;
    justify-content: center;
    height: 54px;
    font-size: 22px;
    color: var(--primary-color);
}


.radio-field label
{
    font-size: 20px;
    color: var(--text-color);
    font-weight: bold;
    margin-left: 20px;
    text-align: left;
}
.radio-field input:checked~label
{
    color: var(--primary-color);
}




.next-prev
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: auto;
    position: relative;
    flex-wrap: wrap;
}
.next-prev button i
{
    margin-right: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: 0.4s;
}


.next-prev .prev i
{
    transform: translateX(-100px);
}
.next-prev .prev:hover i
{
    transform: translateX(0px);
}
.next-prev .next i
{
    transform: translateX(-100px);
}
.next-prev .next:hover i
{
    transform: translateX(0px);
}



.next-prev button
{
    border-radius: 6px;
    background-color: var(--primary-color);
    padding: 0 50px;
    height: 60px;
    font-size: 20px;
    border: solid 2px transparent;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
.next-prev .prev
{
    color: var(--text-color);
    border-color: var(--text-color);
    background-color: transparent;
}
.step-bar
{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.step-bar .bar
{
    background-color: rgb(224, 236, 254);
    width: 95px;
    height: 6px;
    border-radius: 50px;
    margin-right: 10px;
}
.bar .fill
{
    height: 100%;
    width: 0;
    background-color: var(--primary-color);
    border-radius: inherit;
    transition: 0.4s;
}
.cancel
{
    border-radius: 50%;
    background-color: rgb(233, 238, 255);
    height: 69px;
    width: 69px;
    display: grid;
    place-content: center;
    position: absolute;
    top: 50px;
    right: 0;
    cursor: pointer;
}
.cancel i
{
    font-size: 18px;
    color: var(--text-color);
  }
  

























#sub img
{
    width: 60px;
}

.highlight
{
    border-top: solid 3px var(--primary-color) !important;
    border-bottom: solid 3px var(--primary-color) !important;

}













#error
{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 20;
}



.invalid
{
  border: solid 2px #ff4444 !important;
  position: relative;
}