<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!-- Bootstrap-5 -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- custom-styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/animation.css">
</head>
<body>

    <main>
        <div class="logo">
            <div class="logo-icon">
                <img src="assets/images/logo.png" alt="BeRifma">
            </div>
            <div class="logo-text">
                Berifma
            </div>
        </div>
        <div class="container">
            <div class="wrapper">
                <div class="row align-items-center">
                    <div class="col-md-5 tab-sm-100 order_2">
                        <article class="side-text">
                            <h2>Let's Scale your brand, Together</h2>
                            <p>Get a <span>start@userthemes.com</span></p>
                            <button>
                                <i class="fa-brands fa-linkedin"></i>Sign up With Linkedin
                            </button>
                        </article>
                    </div>
                    <div class="col-md-7 tab-sm-100 order_1">
                        <form class="scroll-form" id="steps" method="post">
                            <div id="step1" class="steps-inner">
                                <div class="set_meeting lightSpeedIn">
                                    <div class="main-heading">
                                        Schedule a Meeting
                                    </div>
                                    <div class="meeting_type">
                                        <select required name="meeting_type" id="meeting_type">
                                            <option value="">Select Meeting Type</option>
                                            <option value="Weekly Meeting Of Developer - Meeting Room 2">Weekly Meeting Of Developer - Meeting Room 2</option>
                                        </select>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 tab-100">
                                            <div class="meeting_date">
                                                <div class="b-custom date-icon">
                                                    <i class="fa-solid fa-calendar-days"></i>
                                                </div>
                                                <div class="b-custom start_date">
                                                    <select required name="start_date" id="start_date">
                                                        <option value="">Start</option>
                                                        <option value="12 Apr 16">12 Apr 16</option>
                                                    </select>
                                                    <span></span>
                                                </div>
                                                <div class="end_date">
                                                    <select required name="end_date" id="end_date">
                                                        <option value="">End</option>
                                                        <option value="12 Apr 16">12 Apr 16</option>
                                                    </select>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="schedule-type">
                                                <div class="d-flex align-items-center">
                                                    <input type="radio" name="schedule" checked value="All Day">
                                                    <label>
                                                       All Day
                                                    </label>
                                                </div>
                                                <div class="d-flex align-items-center flex-wrap">
                                                    <input type="radio" name="schedule" checked>
                                                    <label>
                                                       Repeat: <div id="edit" contenteditable="true"> Weekly</div><a href="#edit">Edit</a>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 tab-100">
                                            <div class="meeting_date">
                                                <div class="b-custom date-icon">
                                                    <i class="fa-regular fa-clock"></i>
                                                </div>
                                                <div class="b-custom start_date">
                                                    <select required name="start_time" id="start_time">
                                                        <option value="">Start</option>
                                                        <option value="10AM">10AM</option>
                                                    </select>
                                                    <span></span>
                                                </div>
                                                <div class="end_date">
                                                    <select required name="end_time" id="end_time">
                                                        <option value="">End</option>
                                                        <option value="11:30AM">11:30AM</option>
                                                    </select>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <a class="d-block text-end" href="#">Find the time</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="event_details lightSpeedIn">
                                    <div class="event_detail-inner">
                                        <div class="main-heading">
                                            Event Details
                                        </div>
                                        <div class="guests">
                                            <label class="event-text">Guests Meeting:</label>
                                            <div class="guest-inner"></div>

                                            <label class="add-guest" for="addguest">
                                                +
                                                <input type="file" name="addguest" id="addguest" accept="image/*">
                                            </label>
                                            
                                        </div>
                                        <div class="text-input">
                                            <label for="location">Where</label>
                                            <input type="text" name="location" id="location" placeholder="Enter a Location">
                                            <i class="fa-solid fa-location-dot"></i>
                                        </div>
                                        <div class="video_call_opt">
                                            <div class="event-text">
                                                Video Call: 
                                            </div>
                                            <label>
                                                <i class="fa-solid fa-video"></i> Join meeting: <a href="#">Zoom Video call</a>
                                            </label>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 tab-100">
                                                <div class="text-input">
                                                    <label for="calender">Calender</label>
                                                    <input type="date" name="calender" id="calender">
                                                    <i class="fa-solid fa-location-dot"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-6 tab-100">
                                                <div class="text-input">
                                                    <label for="room">Room</label>
                                                    <input type="text" name="room" id="room" placeholder="Enter room">
                                                    <i class="fa-solid fa-location-dot"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="other-input lightSpeedIn">
                                    <div class="main-heading">
                                        Description
                                    </div>
                                    <textarea name="description" id="description"></textarea>
                                    <div class="attachments">
                                        <label for="attachment">
                                            <input type="file" name="attachment" id="attachment">
                                            Add Attachment File
                                        </label>
                                    </div>
                                    <div class="video_call_opt event_color">
                                        <div class="event-text">
                                            Event Color:
                                        </div>
                                        <div class="colors">
                                            <input class="purple" type="radio" name="event_color" checked value="purple">
                                            <input class="yellow" type="radio" name="event_color" value="yellow">
                                            <input class="red" type="radio" name="event_color" value="red">
                                            <input class="green" type="radio" name="event_color" value="green">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="text-input">
                                                <label>Primary</label>
                                                <input required type="text" name="mail" id="mail-email" placeholder="Email">
                                                <i class="fa-solid fa-location-dot"></i>
                                            </div>
                                        </div>
                                        <div class="row" id="notifyemail">
                                            <div class="tab-100 col-md-6 ">
                                                <div class="text-input">
                                                    <label for="notifiy_mail">Notification</label>
                                                    <input type="text" name="notifiy_mail" id="notifiy_mail" placeholder="Email">
                                                    <i class="fa-solid fa-location-dot"></i>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="submit">
                                        <button type="button" class="sub" id="sub">Submit
                                            <span><i class="fa-solid fa-thumbs-up"></i></span>
                                        </button>
                                        <button id="notifiymail" type="button">Add a Notification</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>







    
    <div id="error">

    </div>


    <!-- Bootstrap-5 -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Jquery -->
    <script src="assets/js/jquery-3.6.1.min.js"></script>

    <!-- My js -->
    <script src="assets/js/custom.js"></script>
</body>
</html>