/*L-desktop*/

@media (min-device-width:  1600px)
{

}

/*L-laptops*/
@media(max-width: 1440px)
{

    
}

/*laptops/tablets*/
@media(max-width: 1024px)
{
    .coming-soon
    {
        width: 59%;
    }
    .coming-soon h1
    {
        font-size: 80px;

    }
    .coming-soon h3
    {
        font-size: 25px;
    }

    .img-pos .img2
    {
        display: none;
    }
    .subscribe span
    {
        font-size: 15px;
    }
}


/*tablets*/
@media(max-width: 768px)
{
    .img-pos .img2,     .img-pos .img1
    {
        display: none;
    }
    .coming-soon
    {
        width: 100%;
        margin-top: 50px;
    }
    .coming-soon h1::after
    {
        width: 75%;
        margin-left: auto;
    }


   

}


/*Smart phone*/
@media(max-width: 576px)
{
    .img-pos .img2,     .img-pos .img1
    {
        display: none;
    }
    .coming-soon
    {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-top: 50px;
    }
    .coming-soon h1
    {
        font-size: 45px;
        width: 100%;
    }
    .coming-soon h1::after
    {
        height: 2px;
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
    }
    .coming-soon h3
    {
        font-size: 15px;
    }
    .subscribe
    {
        width: 100%;
        margin-top: 30px;
    }
    form input
    {
        width: 100%;
    }
    form button
    {
        width: 100%;
        margin-top: 10px;
    }
    .social-icons
    {
        position: static;
        text-align: center;
    }
    
}


