/*L-desktop*/

@media (min-device-width:  1600px)
{

}

/*L-laptops*/
@media(max-width: 1440px)
{

	
    
}

/*laptops/tablets*/
@media(max-width: 1024px)
{

}


/*tablets*/
@media(max-width: 768px)
{


    .coming-soon-title h1
    {
        font-size: 55px;
    }
    #countdown
    {
        font-size: 50px;
        min-height: 140px;
    }
    #countdown span
    {
        font-size: 12px;
    }
    form label
    {
        font-size: 20px;
    }
    form input
    {
        margin: 0 20px;
        height: 60px;
        width: 40%;
    }
    form button
    {
        height: 58px;
    }


}


/*Smart phone*/
@media(max-width: 576px)
{
    form label
    {
        font-size: 20px;
    }
    form input
    {
        margin: 0;
        height: 60px;
        width: 100%;
        margin-bottom: 10px;
    }
    form button
    {
        height: 58px;
        width: 100%;
    }

    .coming-soon-inner
    {
        min-height: auto;
        margin-top: 60px;
    }
    .coming-soon-title h1
    {
        font-size: 36px;
    }
    #countdown
    {
        font-size: 25px;
        min-height: 80px;
    }
    #countdown span
    {
        font-size: 7px;
    }

}


