/*L-desktop*/

@media (min-device-width:  1600px)
{
    
}

/*L-laptops*/
@media(max-width: 1440px)
{

    

    
}

/*laptops/tablets*/
@media(max-width: 1024px)
{
    .title
    {
        font-size: 70px;
    }
    .tag
    {
        font-size: 40px;
    }
    .signup-text
    {
        font-size: 20px;
    }
    .subscribe button
    {
        font-size: 20px;
    }
    
}


/*tablets*/
@media (max-width: 768px)
{
    .popup-img
    {
        min-height: 400px;
    }

    .popup-img
    {
        padding: 20px;
    }
    .form
    {
        padding: 30px 20px;
    }


    

}


/*Smart phone*/
@media(max-width: 576px)
{
    .popup
    {
        width: 100%;
        background-color: transparent;
    }
    .popup-img
    {
        min-height: 300px;
    }

    .popup-img
    {
        padding: 20px;
    }
    .form
    {
        padding: 30px 20px;
    }
    .title
    {
        font-size: 40px;
    }
    .tag
    {
        font-size: 20px;
    }

    .cancel
    {
        top: 20px;
        left: 20px;
    }
    .signup-text
    {
        font-size: 16px;
    }
    .subscribe input
    {
        width: 100%;
    }
    .subscribe button
    {
        width: 100%;
    }
    .check label
    {
        font-size: 16px;
    }
    


    
}


