@font-face

{
    font-family: glacial-indifference-bold;
    src: url(../fonts/glacial-indifference.bold.otf);
}
@font-face

{
    font-family: glacial-indifference-regular;
    src: url(../fonts/glacial-indifference.regular.otf);
}
body
{
    font-family: "glacial-indifference-bold";
    width: 100%;
    min-height: 100vh;
    display: grid;
    align-items: center;
}

.popup
{

    min-height: 700px;
    margin: 50px auto;
    width: 70%;
    display: grid;
    text-align: center;
    position: relative;
    background-color: rgb(0,0,0);
    box-shadow: 0px 5px 79px 0px rgba(0, 0, 0, 0.29);
}
.popup-img
{
    width: 100%;
    min-height: 500px;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    height: auto;
    position: relative;
    padding: 50px 100px;
    text-align: left;
    display: grid;
    align-content: center;
}
.title, .tag
{
    color: rgb(9, 9, 9);
    font-weight: bold;
    position: relative;
    z-index: 100;
}

.title
{
    font-size: 100px;

}
.tag
{
    font-size: 50px;
}
.form
{
    background-image: linear-gradient( -97deg, rgb(255,255,255) 0%, rgb(242,255,248) 100%);
    padding: 50px 100px;
}

.signup-text
{
    font-size: 30px;
    font-family:  glacial-indifference-regular;
    color: rgb(37, 37, 37);
    text-align: center;
}

.subscribe
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    height: auto;
    justify-content: space-between;
    margin-top: 40px;
}
.subscribe *
{
    margin-top: 10px;
}
.subscribe input
{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 32px 0px rgba(0, 0, 0, 0.12);
    height: 77px;
    border: 0;
    width: 70%;
    color: rgb(37, 37, 37);
    font-size: 20px;
    font-family: glacial-indifference-regular;
    padding: 0 40px;
}
.subscribe button
{
    background-color: rgb(19, 19, 19);
    width: 30%;
    height: 77px;
    border: 0;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.check
{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.check input
{
    -webkit-appearance: none;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 32px 0px rgba(0, 0, 0, 0.12);
    width: 26px;
    height: 26px;
    cursor: pointer;
    position: relative;

}
.check input:checked::before
{
    content: "";
    border-radius: 50%;
    background-color: rgb(162, 162, 162);
    width: 7px;
    height: 7px;
    line-height: 26px;
    position: absolute;
    top: 9px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.check label
{
    font-size: 20px;
    color: rgb(37, 37, 37);
    margin-left: 10px;
}
  

  
.cancel
{
    border-radius: 50%;
    background-color: rgb(0,0,0);
    width: 71px;
    height: 71px;
    display: grid;
    place-content: center;
    position: absolute;
    top: 30px;
    cursor: pointer;
    left: 30px;
}
.cancel i
{
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}