<body>
    <div class="swtichblock">
        <div class="switcher">
            <div class="palette_title">
                Choose you Color
            </div>
            <div class="switch_color">
                <button class="color1" type="button" id="scheme1"></button>
                <button class="color2" type="button" id="scheme2"></button>
                <button class="color3" type="button" id="scheme3"></button>
                <button class="color4" type="button" id="scheme4"></button>
                <button class="color5" type="button" id="scheme5"></button>
                <button class="color6" type="button" id="scheme6"></button>
                <button class="color7" type="button" id="scheme7"></button>
                <!-- add more colors here -->


                <button  id="reset"><i class="fa-solid fa-arrow-rotate-right"></i></button>
    
                <!-- <div class="ltr-rtl">
                    <button>ltr</button>
                    <button>rtl</button>
                </div> -->
            </div>
            <div class="show-variants">
                <button id="show_switcher">
                    <i class="fa-solid fa-gears"></i>
                </button>
            </div>
        </div>
    </div>
    
    <!-- Color palette JS -->
    <script src="colorswitcher/assets/js/colorswitcher.js"></script>
</body>
