<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!-- Bootstrap-5 -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- custom-styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/animation.css">
</head>
<body>
    <main class="overflow-hidden">
        <div class="row">

            <!-- sidebar -->
            <div class="tab-sm-100 col-md-5 sidebar">
                <aside class="sidebar-inner">
                    <div class="logo">
                        <div class="logo-icon">
                            <img src="assets/images/logo.png" alt="BeRifma">
                        </div>
                        <div class="logo-text">
                            Trimba
                        </div>
                    </div>
                    <article class="sidebar-text">
                        <h2>Insurance Made Easy!</h2>
                        <p>
                            Toptal is an exclusive network of the world's top talent in business, design, and technology. We provide access to top companies.
                        </p>
                        <div class="step-bar">
                            <span class="steps_count"><span id="showstep">1</span> to 3 step</span>
                            <h3><span id="completion-rate">25% </span> to complete</h3>
                            <div class="step-bar-inner">
                                <div class="move-bar"></div>
                            </div>
                        </div>
                    </article>
                </aside>
            </div>
            <div class="tab-sm-100 col-md-7 steps-area">

                <!-- step-type -->
                <div class="step-counter">
                    <div class="step-counter-inner">
                        <div class="step-type active">
                            <div class="step-type-icon">
                                <i class="fa-solid fa-cubes"></i>
                            </div>
                            <span>basic information</span>
                        </div>
                        <div class="step-type">
                            <div class="step-type-icon">
                                <i class="fa-solid fa-cubes"></i>
                            </div>
                            <span>Insurance Detail</span>
                        </div>
                        <div class="step-type no-line">
                            <div class="step-type-icon">
                                <i class="fa-solid fa-money-check-dollar"></i>
                            </div>
                            <span>Payment Detail</span>
                        </div>
                    </div>
                </div>

                <form id="steps" method="post" enctype="multipart/form-data">
                    <div class="show-section wrapper">

                        <!-- step-1-->
                        <section class="steps">

                            <!-- step-1-form-->
                            <div class="lightSpeedIn form" id="step1">
                                <div class="input-field row">
                                    <div class="col-md-3 text-end">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" name="name" id="mail-name" required>
                                    </div>
                                </div>
                                <div class="input-field row">
                                    <div class="col-md-3 text-end">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" name="mail" id="mail-email" required>
                                    </div>
                                </div>
                                <div class="radio-field row">
                                    <div class="col-md-3 text-end">
                                        <label>What are you?</label>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="radio-field-opt">
                                            <div class="row">
                                                <div class="tab-50 col-md-4 d-flex align-items-center">
                                                    <input checked type="radio" name="citizen-type" value="University Student">
                                                    <label>Student</label>
                                                </div>
                                                <div class="tab-50 col-md-4 d-flex align-items-center">
                                                    <input type="radio" name="citizen-type" value="Professional">
                                                    <label>Professional</label>
                                                </div>
                                                <div class="tab-50 col-md-4 d-flex align-items-center">
                                                    <input type="radio" name="citizen-type" value="Retired">
                                                    <label>Retired</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field row">
                                    <div class="col-md-3 text-end">
                                        <label>Education</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" name="education" id="education">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-field row">
                                            <div class="col-md-6 text-end">
                                                <label for="age">Your Age</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" name="age" id="age">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-field row">
                                            <div class="col-md-4 text-end">
                                                <label>Date Birth</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input name="dob" id="dob" type="text" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field row">
                                    <div class="col-md-3 text-end">
                                        <label>Address</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" name="address" id="address">
                                    </div>
                                </div>
                                <div class="radio-field row">
                                    <div class="col-md-3 text-end">
                                        <label>Do you have a Tax ID?</label>
                                    </div>
                                    <div class="position-relative col-md-9">
                                        <div class="border-bottom-0 radio-field-opt">
                                            <div class="row">
                                                <div class="tab-100 col-md-6 d-flex align-items-center">
                                                    <input checked type="radio" name="ssn" value="I Have a US Tax ID (SSN)">
                                                    <label>I Have a US Tax ID</label>
                                                </div>
                                                <div class="tab-100 col-md-6 d-flex align-items-center">
                                                    <input type="radio" name="ssn" value="I don't have a US Tax ID (SSN)">
                                                    <label>I don't have a US Tax ID</label>
                                                </div>
                                            </div>
                                        </div>
                                        <P class="position-absolute">
                                            has been a while. I would like to present you the  project I work on a few
                                        </P>
                                    </div>
                                </div>
                            </div>
                            <div class="next-prev">
                                <button type="button" id="step1btn" class="step1 next">Next Step</button>
                            </div>
                        </section>
                         <!-- step-2-->
                         <section class="steps">

                            <!-- step-2-form-->
                            <div class="lightSpeedIn form" id="step2">
                                <div class="main-heading">
                                    Choose insurance
                                </div>
                                <div class="check-field row">
                                    <div class="tab-33 col-md-3">
                                        <div class="check-field-single">
                                            <img src="assets/images/insurance_types/hand.png" alt="">
                                            <input checked type="radio" name="insurance" value="Individual Life Plans">
                                        </div>
                                        <span class="insurance-type">Individual Life Plans</span>
                                    </div>
                                    <div class="tab-33 col-md-3">
                                        <div class="check-field-single">
                                            <img src="assets/images/insurance_types/protect.png" alt="">
                                            <input type="radio" name="insurance" value="Child Protection">
                                        </div>
                                        <span class="insurance-type">Child Protection</span>
                                    </div>
                                    <div class="tab-33 col-md-3">
                                        <div class="check-field-single">
                                            <img src="assets/images/insurance_types/family-insurance.png" alt="">
                                            <input type="radio" name="insurance" value="Whole Life Assurance">
                                        </div>
                                        <span class="insurance-type">Whole Life Assurance</span>
                                    </div>
                                    <div class="tab-33 col-md-3">
                                        <div class="check-field-single">
                                            <img src="assets/images/insurance_types/family-insurance(1).png" alt="">
                                            <input type="radio" name="insurance" value="Whole Life Assurance">
                                        </div>
                                        <span class="insurance-type">Whole Life Assurance</span>
                                    </div>
                                    <div class="tab-33 col-md-3">
                                        <div class="check-field-single">
                                            <img src="assets/images/insurance_types/financial.png" alt="">
                                            <input type="radio" name="insurance" value="Financial Products">
                                        </div>
                                        <span class="insurance-type">Financial Products</span>
                                    </div>
                                    <div class="tab-33 col-md-3">
                                        <div class="check-field-single">
                                            <img src="assets/images/insurance_types/diamond.png" alt="">
                                            <input type="radio" name="insurance" value="Wealth Builder Plan">
                                        </div>
                                        <span class="insurance-type">Wealth Builder Plan</span>
                                    </div>
                                    <div class="tab-33 col-md-3">
                                        <div class="check-field-single">
                                            <img src="assets/images/insurance_types/quality-assurance.png" alt="">
                                            <input type="radio" name="insurance" value="Endowment Assurance">
                                        </div>
                                        <span class="insurance-type">Endowment Assurance</span>
                                    </div>
                                    <div class="tab-33 col-md-3">
                                        <div class="check-field-single">
                                            <img src="assets/images/insurance_types/contract.png" alt="">
                                            <input type="radio" name="insurance" value="Death Claims">
                                        </div>
                                        <span class="insurance-type">Death Claims</span>
                                    </div>
                                </div>
                                <div class="input-field row">
                                    <div class="col-md-6">
                                        <label for="liability">
                                            Liability Limit Needed
                                        </label>
                                        <div class="select-field">
                                            <select name="liability" id="liability" required>
                                                <option value="$2 million">$2 million</option>
                                                <option value="$3 million">$3 million</option>
                                                <option value="$4 million">$4 million</option>
                                            </select>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="years">
                                            Home Many Years
                                        </label>
                                        <div class="select-field">
                                            <select name="years" id="years">
                                                <option value="20 Years">20 Years</option>
                                                <option value="30 Years">30 Years</option>
                                                <option value="40 Years">40 Years</option>
                                            </select>
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field row">
                                    <div class="text-start">
                                        <label>Home Address</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input required type="text" name="home-address" id="home-address">
                                    </div>
                                </div>
                            </div>
                            <div class="next-prev">
                                <button type="button" class="prev">Previous Step</button>
                                <button type="button" id="step2btn" class="next">Next Step</button>
                            </div>
                        </section>
                        <!-- step-3 -->
                        <section class="steps">

                            <!-- step-3-form -->
                            <div class="lightSpeedIn form" id="step3">
                                <div class="main-heading">Financial Products</div>
                                <div class="block pt-5 pb-4 mb-4">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="step3-img">
                                                <img src="assets/images/step3-atr.jpg" alt="Body Policy">
                                            </div>
                                            <span class="img-text">Body Policy</span>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="input-field row">
                                                <div class="mb-3 text-start">
                                                    <label>Sum Assured (Dollar):</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="text" name="dollar" id="dollar" placeholder="$44,880.00">
                                                </div>
                                            </div>
                                            <div class="input-field row">
                                                <div class="mb-4  tab-100 col-md-6">
                                                    <label for="mode"  class="mb-3">
                                                        Premium Mode
                                                    </label>
                                                    <div class="select-field">
                                                        <select name="mode" id="mode" required>
                                                            <option value="Basic Plan 2 Million">Basic Plan 2 Million</option>
                                                            <option value="Standard Plan 3 Million">Standard Plan 3 Million</option>
                                                            <option value="Premium Plan 5 Million">Premium Plan 5 Million</option>
                                                        </select>
                                                        <span></span>
                                                    </div>
                                                </div>
                                                <div class="mb-4 tab-100 col-md-6">
                                                    <label for="years" class="mb-3">
                                                        Gender
                                                    </label>
                                                    <div class="gender-field">
                                                        <div class="row">
                                                            <div class="offset-md-1 col-md-5">
                                                                <div class="gender-single border-end">
                                                                    <input checked type="radio" name="gender" value="Male">
                                                                    <label>Male</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <div class="gender-single">
                                                                    <input type="radio" name="gender" value="Female">
                                                                    <label>Female</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-field mb-3 mt-3">
                                            <label for="term" class="mb-3">
                                                Choose a Term of Assurance
                                            </label>
                                            <div class="select-field">
                                                <select name="term" id="term">
                                                    <option value="Basic Information">Basic Information</option>
                                                    <option value="Advanced Information">Advanced Information</option>
                                                    <option value="Lifetime Information">Lifetime Information</option>
                                                </select>
                                                <span></span>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                                <div class="upload-area">
                                    <div class="main-heading">
                                        Upload Files
                                    </div>
                                    <label class="upload-area-inner">
                                        <input type="file" name="file" id="file">
                                        <i class="upload-icon fa-solid fa-cloud-arrow-up"></i>
                                        <span>Click & select a File to Upload</span>
                                        <a class="upload-button">
                                            Upload Now!
                                        </a>
                                    </label>
                                </div>      
                            </div>
                            <div class="next-prev">
                                <button type="button" class="prev">Previous Step</button>
                                <button id="sub" type="button" class="apply">Send</button>
                            </div>
                        </section>
                    </div>
                </form>
            </div>
        </div>
    </main>


    
    <div id="error">

    </div>


    <!-- Bootstrap-5 -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Jquery -->
    <script src="assets/js/jquery-3.6.1.min.js"></script>

    <!-- My js -->
    <script src="assets/js/custom.js"></script>
</body>
</html>